.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 61.1923em 1978.4em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.agreement:before {
      background-position: 0em 0em;
      width: 48.0008em;
      height: 48.0008em;
  }




  .icon.arrow-down:before {
      background-position: 0em -48.1em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-left:before {
      background-position: 0em -61em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right:before {
      background-position: 0em -108.8em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-up:before {
      background-position: 0em -156.6em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.attest:before {
      background-position: 0em -163em;
      width: 6em;
      height: 6em;
  }




  .icon.cancel:before {
      background-position: 0em -169em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.case:before {
      background-position: 0em -216.6em;
      width: 6em;
      height: 6em;
  }




  .icon.checked:before {
      background-position: 0em -222.6em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.close:before {
      background-position: 0em -225.2em;
      width: 5.4422em;
      height: 5.4422em;
  }




  .icon.coins:before {
      background-position: 0em -230.7em;
      width: 6em;
      height: 6em;
  }




  .icon.design:before {
      background-position: 0em -236.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.doc:before {
      background-position: 0em -287.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.field:before {
      background-position: 0em -339.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.field-place:before {
      background-position: 0em -390.3em;
      width: 41.1723em;
      height: 41.1723em;
  }




  .icon.file:before {
      background-position: 0em -431.5em;
      width: 6em;
      height: 6em;
  }




  .icon.garbage:before {
      background-position: 0em -437.5em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.gavel:before {
      background-position: 0em -443.4em;
      width: 45.609300000000005em;
      height: 45.609300000000005em;
  }




  .icon.gift--color:before {
      background-position: 0em -489.1em;
      width: 51.198899999999995em;
      height: 51.198899999999995em;
  }




  .icon.hand:before {
      background-position: 0em -540.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.heart:before {
      background-position: 0em -591.5em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -638.7em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.house-country:before {
      background-position: 0em -687.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.house-network:before {
      background-position: 0em -738.6em;
      width: 50.8em;
      height: 50.8em;
  }




  .icon.house-plan:before {
      background-position: 0em -789.4em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.house-plan-scale:before {
      background-position: 0em -840.7em;
      width: 15.190999999999999em;
      height: 15.190999999999999em;
  }




  .icon.house-plans:before {
      background-position: 0em -855.9em;
      width: 17.4em;
      height: 17.4em;
  }




  .icon.information:before {
      background-position: 0em -873.3em;
      width: 6em;
      height: 6em;
  }




  .icon.interface:before {
      background-position: 0em -879.3em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.key:before {
      background-position: 0em -928.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.land:before {
      background-position: 0em -979.6em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.like:before {
      background-position: 0em -986em;
      width: 49.019999999999996em;
      height: 49.019999999999996em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -1035.1em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -1080.2em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.map:before {
      background-position: 0em -1128.6em;
      width: 5.5em;
      height: 5.5em;
  }




  .icon.measuring-tools:before {
      background-position: 0em -1134.1em;
      width: 2.9514em;
      height: 2.9514em;
  }




  .icon.menu:before {
      background-position: 0em -1137.1em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.metro:before {
      background-position: 0em -1183em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.money:before {
      background-position: 0em -1234.2em;
      width: 6em;
      height: 6em;
  }




  .icon.phone:before {
      background-position: 0em -1240.2em;
      width: 48.056em;
      height: 48.056em;
  }




  .icon.phone-call:before {
      background-position: 0em -1288.3em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.placeholder:before {
      background-position: 0em -1335.7em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.plan:before {
      background-position: 0em -1383.4em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.planning:before {
      background-position: 0em -1389.3em;
      width: 49em;
      height: 49em;
  }




  .icon.posred:before {
      background-position: 0em -1438.3em;
      width: 26.4355em;
      height: 26.4355em;
  }




  .icon.protractor:before {
      background-position: 0em -1464.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.result:before {
      background-position: 0em -1516em;
      width: 6em;
      height: 6em;
  }




  .icon.save-disk:before {
      background-position: 0em -1522em;
      width: 61.1923em;
      height: 61.1923em;
  }




  .icon.share:before {
      background-position: 0em -1583.2em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1631.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-google:before {
      background-position: 0em -1682.6em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -1692.3em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1735.4em;
      width: 29.1319em;
      height: 29.1319em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1764.6em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1774.2em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1815.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1866.5em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.star:before {
      background-position: 0em -1872.9em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.time:before {
      background-position: 0em -1922em;
      width: 6em;
      height: 6em;
  }




  .icon.worker:before {
      background-position: 0em -1928em;
      width: 50.3607em;
      height: 50.3607em;
  }





