.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1267.5em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-left:before {
      background-position: 0em -12.9em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right:before {
      background-position: 0em -60.7em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-up:before {
      background-position: 0em -108.5em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.attest:before {
      background-position: 0em -114.9em;
      width: 6em;
      height: 6em;
  }




  .icon.cancel:before {
      background-position: 0em -120.9em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.case:before {
      background-position: 0em -168.5em;
      width: 6em;
      height: 6em;
  }




  .icon.checked:before {
      background-position: 0em -174.5em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.coins:before {
      background-position: 0em -177.1em;
      width: 6em;
      height: 6em;
  }




  .icon.doc:before {
      background-position: 0em -183.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.garbage:before {
      background-position: 0em -234.3em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.hand:before {
      background-position: 0em -240.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.heart:before {
      background-position: 0em -291.4em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -338.6em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.interface:before {
      background-position: 0em -387.3em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.key:before {
      background-position: 0em -436.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.like:before {
      background-position: 0em -487.6em;
      width: 49.019999999999996em;
      height: 49.019999999999996em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -536.7em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -581.8em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.map:before {
      background-position: 0em -630.2em;
      width: 5.5em;
      height: 5.5em;
  }




  .icon.menu:before {
      background-position: 0em -635.7em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.metro:before {
      background-position: 0em -681.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.money:before {
      background-position: 0em -732.8em;
      width: 6em;
      height: 6em;
  }




  .icon.phone-call:before {
      background-position: 0em -738.8em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.placeholder:before {
      background-position: 0em -786.2em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.plan:before {
      background-position: 0em -833.9em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.posred:before {
      background-position: 0em -839.8em;
      width: 26.4355em;
      height: 26.4355em;
  }




  .icon.result:before {
      background-position: 0em -866.3em;
      width: 6em;
      height: 6em;
  }




  .icon.share:before {
      background-position: 0em -872.3em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -920.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-google:before {
      background-position: 0em -971.7em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -981.4em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1024.5em;
      width: 29.1319em;
      height: 29.1319em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1053.7em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1063.3em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1104.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1155.6em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.star:before {
      background-position: 0em -1162em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.time:before {
      background-position: 0em -1211.1em;
      width: 6em;
      height: 6em;
  }




  .icon.worker:before {
      background-position: 0em -1217.1em;
      width: 50.3607em;
      height: 50.3607em;
  }





