.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 78.8em 2887.3em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.agreement:before {
      background-position: 0em 0em;
      width: 48.0008em;
      height: 48.0008em;
  }




  .icon.air-freight:before {
      background-position: 0em -48.1em;
      width: 51.199928em;
      height: 51.1em;
  }




  .icon.arrow-down:before {
      background-position: 0em -99.2em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-left:before {
      background-position: 0em -112.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right:before {
      background-position: 0em -159.9em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-up:before {
      background-position: 0em -207.7em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.attest:before {
      background-position: 0em -214.1em;
      width: 6em;
      height: 6em;
  }




  .icon.binoculars:before {
      background-position: 0em -220.1em;
      width: 64em;
      height: 64em;
  }




  .icon.calculator:before {
      background-position: 0em -284.1em;
      width: 6em;
      height: 6em;
  }




  .icon.calculator-fat:before {
      background-position: 0em -290.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.camera:before {
      background-position: 0em -341.3em;
      width: 51.199799999999996em;
      height: 51.199799999999996em;
  }




  .icon.cancel:before {
      background-position: 0em -392.5em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.car:before {
      background-position: 0em -440.1em;
      width: 46.8em;
      height: 46.8em;
  }




  .icon.case:before {
      background-position: 0em -486.9em;
      width: 6em;
      height: 6em;
  }




  .icon.checked:before {
      background-position: 0em -492.9em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.close:before {
      background-position: 0em -495.5em;
      width: 5.4422em;
      height: 5.4422em;
  }




  .icon.coins:before {
      background-position: 0em -501em;
      width: 6em;
      height: 6em;
  }




  .icon.compass:before {
      background-position: 0em -507em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.design:before {
      background-position: 0em -558.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.doc:before {
      background-position: 0em -609.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.field:before {
      background-position: 0em -660.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.field-place:before {
      background-position: 0em -711.8em;
      width: 41.1723em;
      height: 41.1723em;
  }




  .icon.file:before {
      background-position: 0em -753em;
      width: 6em;
      height: 6em;
  }




  .icon.garbage:before {
      background-position: 0em -759em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.gavel:before {
      background-position: 0em -764.9em;
      width: 45.609300000000005em;
      height: 45.609300000000005em;
  }




  .icon.gift--color:before {
      background-position: 0em -810.6em;
      width: 51.198899999999995em;
      height: 51.198899999999995em;
  }




  .icon.hand:before {
      background-position: 0em -861.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.heart:before {
      background-position: 0em -913em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -960.2em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.house-country:before {
      background-position: 0em -1008.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.house-network:before {
      background-position: 0em -1060.1em;
      width: 50.8em;
      height: 50.8em;
  }




  .icon.house-plan:before {
      background-position: 0em -1110.9em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.house-plan-scale:before {
      background-position: 0em -1162.2em;
      width: 15.190999999999999em;
      height: 15.190999999999999em;
  }




  .icon.house-plans:before {
      background-position: 0em -1177.4em;
      width: 17.4em;
      height: 17.4em;
  }




  .icon.house-rule:before {
      background-position: 0em -1194.8em;
      width: 51.1em;
      height: 51.1em;
  }




  .icon.idea:before {
      background-position: 0em -1245.9em;
      width: 51.1999em;
      height: 51.1999em;
  }




  .icon.image:before {
      background-position: 0em -1297.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.information:before {
      background-position: 0em -1348.3em;
      width: 6em;
      height: 6em;
  }




  .icon.interface:before {
      background-position: 0em -1354.3em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.key:before {
      background-position: 0em -1403.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.land:before {
      background-position: 0em -1454.6em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.law:before {
      background-position: 0em -1461em;
      width: 51.1em;
      height: 51.1em;
  }




  .icon.like:before {
      background-position: 0em -1512.1em;
      width: 49.019999999999996em;
      height: 49.019999999999996em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -1561.2em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -1606.3em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.map:before {
      background-position: 0em -1654.7em;
      width: 5.5em;
      height: 5.5em;
  }




  .icon.measuring-tools:before {
      background-position: 0em -1660.2em;
      width: 2.9514em;
      height: 2.9514em;
  }




  .icon.menu:before {
      background-position: 0em -1663.2em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.metro:before {
      background-position: 0em -1709.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.money:before {
      background-position: 0em -1760.3em;
      width: 6em;
      height: 6em;
  }




  .icon.mountain:before {
      background-position: 0em -1766.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.museum:before {
      background-position: 0em -1817.5em;
      width: 78.8em;
      height: 78.8em;
  }




  .icon.phone:before {
      background-position: 0em -1896.3em;
      width: 48.056em;
      height: 48.056em;
  }




  .icon.phone-call:before {
      background-position: 0em -1944.4em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.pines:before {
      background-position: 0em -1991.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.placeholder:before {
      background-position: 0em -2043em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.plan:before {
      background-position: 0em -2090.7em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.planning:before {
      background-position: 0em -2096.6em;
      width: 49em;
      height: 49em;
  }




  .icon.posred:before {
      background-position: 0em -2145.6em;
      width: 26.4355em;
      height: 26.4355em;
  }




  .icon.protractor:before {
      background-position: 0em -2172.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.result:before {
      background-position: 0em -2223.3em;
      width: 6em;
      height: 6em;
  }




  .icon.sardines:before {
      background-position: 0em -2229.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.save-disk:before {
      background-position: 0em -2280.5em;
      width: 61.1923em;
      height: 61.1923em;
  }




  .icon.share:before {
      background-position: 0em -2341.7em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -2389.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-google:before {
      background-position: 0em -2441.1em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -2450.8em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -2493.9em;
      width: 29.1319em;
      height: 29.1319em;
  }




  .icon.soc-ok:before {
      background-position: 0em -2523.1em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -2532.7em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -2573.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -2625em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.star:before {
      background-position: 0em -2631.4em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.time:before {
      background-position: 0em -2680.5em;
      width: 6em;
      height: 6em;
  }




  .icon.topograf:before {
      background-position: 0em -2686.5em;
      width: 51.1999em;
      height: 51.1999em;
  }




  .icon.total-station:before {
      background-position: 0em -2737.7em;
      width: 51.1em;
      height: 51.1em;
  }




  .icon.trees:before {
      background-position: 0em -2788.8em;
      width: 48.0007em;
      height: 48.0007em;
  }




  .icon.worker:before {
      background-position: 0em -2836.9em;
      width: 50.3607em;
      height: 50.3607em;
  }





