@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
//@import "variable/_grid.styl"
@import "../module/**/*"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

// Grid breakpoints
$breakpoints = {
	'xs' :  0,
	'sm' : 480px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px
}

// Number of columns
$columns = 12

init($breakpoints, $columns)

body
	//padding-top: 95px
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

//Добавялем стили для этого элемента
@-webkit-keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

//Анимация из animateCSs
@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	padding 10px
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 10
	border-bottom 1px solid #efeded
	padding-bottom: 5px
.main-cont
	center(1200px,10px)

.section
	+below(768px)
		padding: 30px 0
	+below(640px)
		padding-bottom: 0
	padding: 100px 0



.title
	font-weight: 700
	color black
	font-size: 28px
	margin-bottom: 20px

.news
	f()
	fw()

.news__el
	+below(1024px)
		item-clear(3,auto!important)
		item(2,40px)
	+below(640px)
		item(1,40px)
		padding: 30px 20px
		margin-bottom: 0 !important
	item(3,40px)

.news__el-date
	margin-bottom: 10px

.news__el-title
	+below(768px)
		font-size: 16px
	font-family: 'Gotham'
	margin-bottom: 20px
	color black
	font-weight 600
	line-height: 1.5
	font-size: 18px
	up()

.news__el-text
	line-height: 1.5

.section--news
	background: #f9f9f9

.advant
	f()
	justify-content: space-between

.advant-info
	+below(768px)
		width: 100%
		padding-top: 30px
		width: 80%
		margin: 0 auto
	width: 45%
	padding-top: 10%

.advant-info__el
	+below(768px)
		fw()
	f()
	justify-content: space-between
	margin-bottom: 50px

.advant-info__ico
	+below(768px)
		flex(mid)
		margin-right: 0
		margin-bottom: 20px
		width: 100%
	margin-right: 40px
	.icon
		+below(768px)
			size 60px
		size 80px
		fill #de3339

.advant-info__title
	+below(768px)
		text-align: center
		width: 100%
		font-size: 16px
	font-weight: 700
	color black
	font-size: 24px
	margin-bottom: 20px

.advant-info__text
	+below(768px)
		width: 100%
		text-align: center
	line-height: 1.5
	width: 70%

.about-cont
	+below(1024px)
		height: auto
		padding: 40px 20px
		width: 50%
	+below(768px)
		width: 100%
		//background: #bf0005
	padding: 80px 0
	width: 45%
	f()
	justify-content: center
	fl()

.about-cont__title
	+below(768px)
		font-size: 20px
		text-align: center
	@extend .title
	//color white
	up()

.about-cont__text
	//color white
	line-height: 1.9
	p
		font-size: 13px



.baner
	padding: 2% 0
	bg-full()
	background-position center right
	position: relative
	background: #efeeee
.service
	f()
	fw()

.section-title-sub
	+below(1024px)
		margin-bottom: 30px
	+below(768px)
		margin-top: 0px
		width: 95%
	+below(640px)
		font-size: 13px
	@extend .type--md
	text-align: center
	width: 60%
	margin: 0 auto
	margin-top: -40px
	margin-bottom: 80px
	line-height: 1.5



.service__el
	+below(1024px)
		item(2,40px)
	+below(640px)
		item(1,40px)
		padding: 30px 20px
	item(2,40px)
	margin-bottom: 40px
	padding:  40px
	border 1px solid #efeded

.service__el-date
	margin-bottom: 10px

.service__title
	+below(768px)
		text-align: center
	up()
	font-size: 18px
	font-family: 'Gotham'
	margin-bottom: 20px
	color black
	font-weight 600
	line-height: 1.5

.service__text
	line-height: 1.5

.service__price
	+below(640px)
		text-align: center
	font-weight: bold
	font-size: 20px
	color black
	margin: 40px 0

.service__get
	+below(1200px)
		fw()
	f()

.service__btn
	+below(1200px)
		width: 100%
		margin-bottom: 20px
	@extend .btn--md
	font-weight bold

.service__btn-more
	+below(1200px)
		margin-right: 0
	@extend .btn--light
	margin-right: 20px

.service__btn-get
	@extend .btn--mark

.image-baner
	img
		max-width 1024px
		margin: 60px auto

.header-check
	+below(768px)
		margin-bottom: 10px
		width: 320px
	+below(640px)
		width: auto
	width: 100%
	margin-bottom: 20px

.header-check-el
	f()
	align-items: center
	margin-bottom: 10px
	.icon
		+below(768px)
			size 20px
		size 30px
		fill $red
		margin-right: 20px

.header-check-text
	+below(768px)
		font-size: 10px
		text-align: left
	color black
	font-weight: bold
	up()

.header__get
	+below(768px)
		flex(mid)
	+below(640px)
		fw()
	f()
	width: 100%

.header__btn
	+below(640px)
		width: 100%
		margin-bottom: 20px
	@extend .btn--md
	padding: 20px 60px
	font-weight bold

.header__btn-more
	+below(640px)
		margin-right: 0
	@extend .btn--light
	margin-right: 20px

.header__btn-get
	@extend .btn--mark
	background-color $red
	color white
	//box-shadow 0 9px 18px rgba(242, 0, 34, 0.6)

.scroll-up
	+below(768px)
		size 40px
	flex(mid)
	round()
	cp()
	tr(all)
	position: fixed
	z-index 15
	bottom 20%
	right 5%
	border 1px solid $border-color
	size 64px
	opacity 0
	background: white
	&:hover
		background: black
		.icon
			fill white
	.icon
		+below(768px)
			size 15px
		size 30px
		fill black

.scroll-up--show
	opacity 1

.owl-next,.owl-prev
	position absolute
	top 50%
	margin-top -30px
	color white
	font-size 40px
.owl-carousel
	position relative
.owl-prev
	+below(1440px)
		left -5%
	+below(1200px)
		left 2%
		display: none
	left -10%
.owl-next
	+below(1440px)
		right -5%
	+below(1200x)
		right 2%
		display: none
	right -10%
.slider-control
	size 40
	fill darken($gray,20)
	tr(all)
	&:hover
		fill black
.owl-dots
	width 100%
	flex(mid)
	margin-top -40px
	position relative
	z-index 2000
.owl-dot
	round()
	margin 5px
	width 10px
	height 10px
	background white
.owl-dot.active
	background #322f40

.section--customer
	+below(768px)
		padding: 30px 0
	padding: 150px 0px

.section--certificate
	+below(768px)
		padding: 30px 0
	bgi("img-1.jpg")
	bg-full()
	padding: 150px 0
	position: relative
	background-attachment: fixed
	//filter: blur(20px) grayscale(20%);
	.section-title
		color white
		position: relative
	.filter
		background: rgba(39, 57, 93, 0.72)

.filter
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
	background: rgba(60, 60, 60, 0.75)
/*
.slider
	width: 80%
	margin: 0 auto*/

.list
	flex(between)
	fw()
	flex(between)

.list__el
	+below(640px)
		width: 100%
		margin-bottom: 20px
		fl()
	f()
	justify-content: space-between
	width: 46%
	margin-bottom: 60px

.list__el--img
	+below(640px)
		flex(mid)
		margin-right: 0
		margin-bottom: 20px
	margin-right: 20px

.list__el--title
	+below(768px)
		font-size: 20px
	+below(640px)
		text-align: center
	font-size: 24px
	color black
	text-transform: uppercase
	margin-bottom: 20px

.list__el--item
	cp()
	position: relative
	margin-bottom: 10px
	//text-decoration: underline
	padding-left: 20px
	&:before
		content ''
		round()
		position: absolute
		size 5px
		background: $red
		left 0px
		top 5px

.footer__wrap
	+below(768px)
		margin-bottom: 30px
		fw()
	f()
	justify-content: space-between
	margin-bottom: 80px

.footer__el
	+below(768px)
		width: 100%
		padding: 10px
	width: 33%
	f()
	fl()
	text-align: center
	padding: 30px
	&:nth-child(2)
		+below(768px)
			border 0
		border-right 1px solid $gray
		border-left 1px solid $gray
.footer__icon
	+below(768px)
		margin-bottom: 20px
	margin-bottom: 40px
	.icon
		+below(768px)
			size 50px
		size 70px
		//fill black
		fill $red
.footer__title
	+below(768px)
		font-size: 20px
	font-size: 24px
	color black
	font-weight: bold
	margin-bottom: 40px

.footer__text
	+below(768px)
		font-size: 14px
	font-size: 18px
	margin-bottom: 10px

.footer__text--red
	//color $red
	color black

.footer-get__el
	@extend .btn--mark
	@extend .btn--lg
	background-color $red
	color white
	padding: 20px 50px
.footer-get
	flex(mid)

.footer-map
	width: 100%
	height: 400px
	background: $gray
	flex(mid)


.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	+below(640px)
		background: white
	position: absolute
	top: 0
	left: 0
	background: rgba(0, 0, 0, 0.6)
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.24)
	transform translate(-50%,-350%)
	position: absolute
	top 50%
	left 50%
	opacity .1
	transition transform .8s, opacity 1s
	max-width 550px

.modal-content
	+below(768px)
		padding: 20px
	+below(640px)
		max-height calc(100vh - 60px)
		overflow-y scroll
		padding: 20px 5px
		width: 100%!important
	//background: #2b8850
	background: white
	position: relative
	padding: 40px
	+below(768px)
		width: 80%

.modal-content--register
	width: 500px
	input
		width: 100%
		margin-bottom: 20px

.modal__show
	+below(768px)
		flex(mid)
	opacity 1
	transform translate(-50%,-50%)

.modal-close
	+below(768px)
		top 15px
		right 15px
	position: absolute
	top: 20px
	right: 20px
	cp()
	.icon
		+below(768px)
			size 15px
		size 20px

.modal-open
	overflow: hidden
	overflow-x: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: relative
	height: 100%

.modal-title
	+below(768px)
		font-size: 20px
	@extend .type--lg
	margin-bottom: 0px
	text-align: center
	//color white
	color black
	font-size: 32px

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto 40px auto
	//width: 80%
	font-size: 16px
	line-height: 1.2
	color #5f5f5f

.validate-form
	input,textarea
		width: 100%
		margin-bottom: 20px

.modal-send
	@extend .btn--md
	@extend .btn--mark
	background: $red
	border 0
	color white
	font-weight: 600
	padding: 15px
	font-size: 16px
	&:hover
		box-shadow 0 9px 18px rgb(76, 72, 19)

.agree-row
	f()
	align-items: center
	margin:10px 0 30px 0
	a
		text-decoration: underline
		display: inline-block

.agree-row__text
	width: 100%
	color black
	font-size: 12px
	a
		color #9c9a9a
		text-decoration: none
.field-error
	.error
		display: none!important

.field-error
	input
		border 1px solid #dc3d3d
.style-label--checkbox.field-error
	.sytle-input-element
		border 1px solid #dc3d3d


.menu-el--mark
	font-weight: bold
	color #080808
	background: #ffdf6d
	tr(all)
	&:hover
		background: darken(#ffdf6d,10)

.advant-img
	+below(768px)
		display: none

.advant-info__cont
	width: 100%

.slider-customer
	.owl-nav
		+below(1300px)
			display: none

.slider-certificate
	.owl-nav
		+below(1370px)
			display: none

.slider-header-baner
	+below(1300px)
		.owl-nav
			display: none

.section--service
	//background: #efefef
	+below(768px)
		padding-bottom: 0

$step = #b3b2b2
//step
.section-step
	position relative
	//bgi('item-5.jpg')
	background: #f9f9f9

.section-title
	+below(768px)
		font-size: 20px
		margin-bottom: 30px
	text-align: center
	margin-bottom: 40px
	font-size: 32px
	color black
	up()
	font-weight:700

.step
	+below(768px)
		margin-top 30px
	margin-top 100px
//.step-row
.step-el
	+below(768px)
		width 100%
		margin-bottom 20px
	width calc(50% - 0.5px)
	flex(between)
	align-items initial
.step-content
	+below(768px)
		width 100%
	f()
	br(10px)
	background white
	width 80%
	overflow: hidden
.step-numb
	+below(768px)
		width 90px
	color white
	border-right 1px solid #efefef
	padding  20px
	font-size 32px
	font-weight bold
	background: #5da06b
.step-text
	+below(768px)
		width calc(100% - 90px)
		justify-content flex-start
	padding 20px
	font-size 14px
	f()
	align-items: center
.step-line
	+below(768px)
		display none
	width 10%
	border-right 1px solid $step
	position relative
	height auto
.step-dot
	size 20px
	round()
	background $step
	margin-top -15px
	position absolute
	right -11px
	top 50%
.step-row--right
	f()
	justify-content flex-end
	width 100%
	margin-left -2px
	.step-line
		height 100%
		border 0
		border-left 1px solid $step
	.step-dot
		right initial
		left -11px
//.step-dot
.step-total
	+below(768px)
		margin-top 30px
		width 100%
		font-size 16px
	up()
	text-align center
	color white
	width 60%
	margin 0px auto
	font-size 22px
	margin-top 100px
.step-triangle
	triangle('down', 20px, $step)
	position absolute
	bottom -20px
	left -20px

.step-text__title
	+below(768px)
		font-size: 14px
	color black
	font-weight:bold
	font-size: 16px
	margin-bottom: 10px
	text-transform: uppercase
	line-height: 1.6

.step-text__descr
	+below(768px)
		font-size: 12px
	line-height: 1.6
//step

.bread
	f()

.bread__el
	margin-right: 40px
	position: relative
	color #535353
	&:last-child
		&:before
			display: none
	&:before
		content '>'
		position: absolute
		//color red
		top 0
		right -25px

.bread-wrap
	padding: 40px 0

.content__info
	font-size: 14px
	p
		font-size: 14px
	li
		color black
		font-size: 14px
		line-height: 1.8
	strong
		color black

.content
	+below(768px)
		fw()
		margin-bottom: 30px
	f()
	justify-content: space-between
	margin-bottom: 80px

.content__toolbar
	+below(768px)
		order 2
		width: 100%
	width: 25%
.content__info
	+below(768px)
		order 1
		width: 100%
	width: 70%

.toolbar
	margin-bottom: 40px

.toolbar__el
	display: block
	padding: 15px 30px
	border 1px solid $border-color
	margin-top: -1px
	line-height: 1.8
	background: #f5f4f4
	color black
	font-size: 14px

.toolbar__title
	up()
	font-weight: bold
	background: $green
	padding: 20px
	color white
	text-align: center

.contact-form
	+below(768px)
		margin-top: 0px
	padding: 50px 0
	margin-top: 100px
	form
		+below(768px)
			fl()
		f()
		justify-content: space-between
		width: 100%
	background: #f1f1f1
	.input-row
		width: 100%
		input
			+below(768px)
				width: 100%
				margin-bottom: 20px
			width: 90%
			margin-bottom: 0
	.modal-send
		+below(768px)
			width: 100%
		margin-bottom: 0
		width: 45%
	.section-title-sub
		margin-bottom: 30px

.search
	margin-bottom: 40px
	form
		f()
		.icon
			size 20px
.input--search
	width: 80%
	border-right 0
.button--search
	width: 20%
	background: $gray
	border 0

.category
	+below(640px)
		fw()
	f()
	justify-content: space-around

.category__el
	+below(640px)
		width: 100%
		margin-bottom: 20px
	flex(mid)
	fl()
	border 1px solid #efefef
	padding 40px 0

.category__el--title
	+below(1024px)
		font-size: 18px
	@extend .type--lg
	up()
	text-align: center
	color black
	margin-bottom: 30px

.category__el--img
	margin-bottom: 30px
	flex(mid)
	img
		width: 65%

.category__el-get
	@extend .btn--lg
	@extend .btn--mark
	padding: 15px 60px
	font-size: 14px

.category__el--item
	+below(640px)
		width: 100%
	tr(all)
	br(20px)
	margin-bottom: 20px
	font-weight: bold
	text-align: center
	display: block
	background: #efefef
	width: 80%
	//color white
	padding: 15px
	&:hover
		color white
		background: darken($green,20)
.category__el-info
	+below(1024px)
		padding: 20px
	flex(mid)
	fl()
	padding: 20px 40px
	width: 100%

.lp-baner
	+below(1024px)
		height: calc(100vh - 140px)
	height: calc(100vh - 160px)
	position: relative
	width: 100%
	.main-cont
		f()
		align-items: center
		width: 100%
		height: 100%

.lp-baner-filter--green
	position: absolute
	top 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(20, 60, 28, 0.7)


.lp-baner-filter--dark
	+above(769px)
		display: none
	position: absolute
	top 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(25, 46, 29, 0.7)
.lp-baner__img
	//+below(768px)
		//background: none
	bg-full()
	position: absolute
	top 0
	left: 0
	width: 100%
	height: 100%
	//filter blur(10px)
.lp-baner__img--top
	background-position: center top

.lp-baner__content
	+below(1280px)
		padding-left: 20px
	+below(768px)
		padding-left: 0
		width: 70%
		margin: 0 auto
	+below(640px)
		width: 100%
	margin-top: -30px
	z-index 5
	position: relative
	width: 50%

.lp-baner__title
	+below(1280px)
		font-size: 32px
	+below(768px)
		text-align: center
	+below(640px)
		font-size:24px
	up()
	font-size: 42px
	color black
	//font-weight: bold
	margin-bottom: 30px
	line-height: 1.4

.lp-baner__title-sub
	+below(768px)
		text-align: center
	line-height: 1.4
	margin-bottom: 30px

.section-wrap
	f()
	fw()
	width: 100%
	justify-content: space-between

.section-call
	+below(640px)
		width: 100%
	width: 50%

.section-title--left
	text-align: left

.section-title-sub--left
	text-align: left

.box
	p
		+below(768px)
			font-size: 14px
		font-size: 16px
		line-height: 1.6

.section-call--img
	+below(640px)
		display: none
	flex(mid)

.section--start
	+below(768px)
		background-image: none!important
		.section-call
			width: 100%
	bg-full()


.section--doc
	h3
		padding: 20px
		background: #f7f7f7
		margin-bottom: 20px
		font-size: 16px
	p
		margin-bottom: 20px

.doc
	+below(1023px)
		justify-content: space-around
	f()
	fw()
	justify-content: space-between

.doc__el
	+below(1024px)
		width: 45%
		margin-bottom: 20px
	+below(640px)
		width: 100%
	bsh()
	f()
	align-items: center
	fl()
	width: 24%
	padding: 40px 20px

.doc__icon
	margin-bottom: 30px
	.icon
		fill $green
		size 90px

.doc__title
	+below(1024px)
		font-size: 12px
	color black
	font-weight: bold
	text-align: center
	up()
	line-height: 1.4
	margin-bottom: 30px

.doc__text
	line-height: 1.4
	text-align: center

.irs-from, .irs-to, .irs-single
	font-size: 24px
	top -25px
	margin-left: 0px

.calc
	+below(1280px)
		width: 80%
		margin: 0 auto
	+below(768px)
		width: 95%
.calc-range-val
	+below(768px)
		font-size: 20px
	flex(mid)
	text-align: center
	font-size: 40px
	font-weight:bold
	background: #fade6f
	padding: 15px 50px
	br(20px)

.calc-range-val--lg
	font-size: 52px
	+below(768px)
		font-size: 20px

.calc-range__wrap
	flex(mid)
	color black
	margin-top: 40px
	margin-bottom: 20px
.calc-range-pay
	margin-left: 10px

.calc-text
	text-align: center

.section--calc
	background: #f1f1f1

.irs-from, .irs-to, .irs-single
	background: $green


.modal-content--truesend
	background: white
	flex(mid)
	fl()
	.icon
		size 100px
		margin-bottom: 30px
		fill $green
.modal-text-truesend
	text-align: center
	font-weight: bold
	font-size: 20px
	color black
	text-transform: uppercase
.attanintion
	margin: 30px 0
	padding: 20px
	background: #fff0b3
	br(10px)

.top-line-el-info--call
	box-shadow 0px 3px 0px #305432
	cp()
	f()
	.icon
		size 15px
		fill white
		margin-right: 10px

.cost
	+below(1024px)
		justify-content: space-around
	+below(768px)
		margin-bottom: 20px
	f()
	fw()
	justify-content: space-between
	margin-bottom: 40px

.cost__el
	+below(1024px)
		width: 45%
		margin-bottom: 20px
	+below(640px)
		width: 100%
		padding: 20px 10px
	f()
	fl()
	align-items: center
	padding: 40px 20px
	border 1px solid $border-color
	width: 24%
.cost__el-img
	+below(1024px)
		padding: 35%
	+below(768px)
		margin-bottom: 0
		size 150px
		padding: 25%
	bg-full()
	background-size contain
	size 200px
	margin-bottom: 40px

.cost__el-title
	text-align: center
	color black
	font-weight: bold
	font-size: 16px
	margin-bottom: 20px
	span
		display: block
		padding: 5px 20px
		margin-top: 10px
		font-size 14px
		background: #f1f1f1
		br(10px)_
.cost__el-text
	+below(1200px)
		font-size: 12px
	margin-bottom: 20px
	color gray
	text-align: center
.cost__el-price
	+below(640px)
		margin-bottom: 20px
	font-size: 28px
	color black
	margin-bottom: 40px
	font-weight: bold

.cost-inform
	+below(640px)
		width: 100%
		margin-bottom: 40px
		padding: 10px 20px
		text-align: left
	width: 70%
	margin: 0 auto
	padding: 20px 40px
	line-height: 1.8
	br(10px)
	background: #f1f1f1
	text-align: center

.section--price
	+below(640px)
		padding: 30px 0
	padding-top: 100px
	padding-bottom: 0

.section-contact
	background #efefef
.contact
	form
		width 100%
	textarea
		width 100%
	.main-form
		padding 40px
		border 1px solid #e3e3e3
.contact-form--footer
	+below(768px)
		fw()
		margin-top 30px
	flex(between)
	align-items flex-start
	margin-top 80px
	.main-form
		+below(768px)
			width 100%
			margin-bottom 20px
			padding 30px 20px
		width 40%
.main-form
	background: white
.contact-info
	+below(768px)
		width 100%
	width 55%
	background: white
.map
	+below(768px)
		margin-bottom: 10px
	margin-bottom 40px
.contact-row
	flex(mid)
	margin-bottom 20px
	.icon
		margin-right 20px
		+below(768px)
			size 20px
		size 30px
		fill $green
.contact-text
	+below(768px)
		font-size 12px
		width 100%
	font-size 16px
	line-height:1.6
	width 60%

.form-title
	+below(1200px)
		font-size 16px
	up()
	text-align center
	font-size 24px
	font-weight bold
	color black
	margin-bottom: 20px
.form-title-sub
	+below(768px)
		font-size: 10px
		margin-bottom: 20px
	font-size 16px
	margin-bottom: 40px
	text-align: center
.form-month
	up()
	font-weight bold
	font-size 32px
	margin-bottom 30px
.form-foter-text
	+below(1200px)
		font-size 12px
	text-align center
	color grey

.contact-form--footer
	form
		fl()
	align-items: stretch
	margin-top: 0
	padding-top: 0

.form--footer
	.input-row
		+below(768px)
			margin-bottom: 0px
		width: 100%
		margin-bottom: 30px
		input
			width: 100%

.form-footer-send
	@extend .modal-send

.contact-row-wrap
	+below(768px)
		padding: 20px
	padding: 20px 40px


.city-wrap
	f()
	fw()
	br(10px)
	padding: 10px
	margin-bottom: 40px

.city-el
	+below(768px)
		width: 30%
	+below(640px)
		width: 45%
	width: 20%
	font-size: 10px
	margin: 5px 0

.city-title
	+below(768px)
		font-size: 18px
	margin-top: 20px
	@extend .title
	@extend .type--md

.city-wrap
	+below(768px)
		flex(between)
	f()
	fw()
	br(10px)
	padding: 10px
	margin-bottom: 40px
	background: #f5f4f4
	border 1px solid #f5f4f4


#menu-kadastrovy-e-raboty
	display: block

.footer
	.menu-el
		+below(768px)
			width: 100%
			text-align: center!important
			flex-grow 1
			flex-shrink 1
			flex-basis 100px
			a
				font-size: 10px
		width: auto
		&:first-child
			text-align: left
		&:last-child
			text-align: right
	.menu-el--mark
		background: none
		font-weight: normal

.footer-menu
	border-bottom:1px solid #fdf5f5
	border-top:1px solid #fdf5f5
	.menu-wrap
		+below(768px)
			width: 100%!important
			display: block
			position: static
			top initial
			left initial

.footer-info
	padding: 40px 0
	border-top:1px solid #f3f2f2

.footer-info-wrap
	+below(640px)
		width: 100%
		order 1
	width: 20%
.footer-list
	+below(640px)
		width: 100%
		order 2
	f()
	fw()
	width: 75%
	margin-top: 20px
.footer-list__el
	+below(640px)
		text-align: center
		display: none
	width: 30%
	margin-bottom: 20px
	font-weight:700
	color black

.footer-info__phone
	@extend .nav-phone-el
	margin-top: 10px
	fw()
	+below(768px)
		margin-left: 0
		width: 100%

.footer-info__logo
	+below(768px)
		width: 100%
		flex(mid)
		margin-bottom: 20px
	.logo--full
		+below(768px)
			flex(mid)
			display: block
			width: 150px

.advance
	+below(768px)
		fw()
	flex(between)
	fw()
	margin-top 80px
.advance-el
	+below(768px)
		width 100%
		margin-bottom 20px
		flex(mid)
	width 45%
	flex(between)
	margin-bottom 40px
.advance-icon
	+below(968px)
		padding 20px
	+below(768px)
		margin-right 20px
	round()
	flex(mid)
	border 1px solid $green
	padding 40px
	.icon
		+below(968px)
			size 40px
		size 70px
		fill $green
.advance-text
	+below(968px)
		font-size 14px
	width 60%
	font-size 18px
	line-height: 1.6

.section--main-service
	.section-title
		+below(768px)
			font-size: 20px
		font-size: 30px
	.section-title-sub
		+below(768px)
			font-size: 18px
		font-size: 24px


.main-service__title
	+below(768px)
		margin-bottom: 30px
	@extend .type--xl
	text-align: center
	color black
	margin-bottom: 60px

.main-service
	f()
	fw()
	justify-content: space-between

.main-service__col
	+below(1024px)
		width: 50%
	+below(960px)
		width: 70%
		margin: 0 auto
		margin-bottom: 30px
	+below(640px)
		width: 100%
	&:first-child
		+below(960px)
			border 0
		border-right 1px solid #e8e4e4
	width: 50%
	padding: 10px
	f()
	fl()
	justify-content: centers

.main-service__el-title
	+below(960px)
		text-align: center
		font-size: 18px
	+below(768px)
		font-size: 16px
	margin-bottom: 10px
	@extend .type--lg
	color black
	font-size: 19px
.main-service__title-sub
	+below(960px)
		text-align: center
	@extend .type--md
	color black
	margin-bottom: 20px

.main-service__el
	+below(1024px)
		padding: 15px
	+below(960px)
		fw()
		justify-content: center
	f()
	padding: 30px
	justify-content: space-between
	margin-bottom: 20px
	border 1px solid #ededed
	border-radius 10px
	min-height:250px

.main-service__cont
	+below(960px)
		width: 100%
		order 2
	width: 65%
	f()
	justify-content: center
	fl()
.main-service__price-row
	+below(960px)
		width: 100%
		flex(mid)
	flex(between)
	width: 85%
	align-self: flex-start
.main-service__price
	+below(1024px)
		font-size: 20px
	+below(960px)
		text-align: center
	+below(640px)
		font-size: 19px
	width: 100%
	font-size: 22px
	color $green
	font-weight: bold
	margin-bottom: 20px
.main-service__price--true
	color $green
.main-service__price--false
	+below(1024px)
		margin-left: 10px
	text-decoration: line-through
	color #ed9872
.main-service__get
	+below(960px)
		flex(mid)
	+below(768px)
		flex(mid)
	+below(640px)
		fw()
	f()
	width: 100%
.main-service__btn
	+below(640px)
		width: 100%
		margin-bottom: 20px
	@extend .btn--md
	padding: 10px 30px
	font-weight bold

.main-service__btn-more
	+below(640px)
		margin-right: 0
	@extend .btn--light
	margin-right: 20px

.main-service__btn-get
	@extend .btn--mark
	background-color $red
	color white
	//box-shadow 0 9px 18px rgba(242, 0, 34, 0.6)
//.modal-get
.main-service__img
	+below(960px)
		width: 100%
		height: 200px
		order 1
	width: 35%
.main-service__img-el
	bg-full()
	width: 100%
	height: 100%
	background-size: contain


.main-service__el-get
	+below(768px)
		margin: 20px auto 0 auto
	@extend .btn--lg
	@extend .btn--mark
	padding: 15px 60px
	font-size: 14px
	margin: 40px auto 0 auto

.text--green
	color $green

.text--red
	color #ed9872

.section-advance
	padding-bottom 0

.contact-text--link
	text-decoration: underline

.questions__name
	@extend .type--lg
	margin-bottom: 10px
	color black
.questions__title
	color black
	@extend .type--md
	margin-bottom: 30px

.questions__el
	padding-bottom: 30px
.questions__el-wrap
	+below(768px)
		padding: 20px
	padding: 60px 40px
	bsh()
	background: white
.questions
	.owl-dots
		margin-top: 0
	.owl-dot
		background #c3c0c0
	.owl-dot.active
		background: black

.questions-list__get
	@extend .btn--md
	@extend .btn--light

.questions-more
	padding: 60px 0 0 0
	flex(mid)
	fl()

.questions-title-sub
	text-align: center
	@extend .type--lg
	color black
	margin-bottom: 20px

.questions-list
	+below(640px)
		width: 100%
	width: 400px
	margin: 30px auto

.questions-list__el
	color black
	display: block
	text-align: center
	margin-bottom: 10px
	text-decoration: underline


.footer-container
	+below(640px)
		fw()
	f()
	justify-content: space-between

.questions__el-get
	@extend .btn--md
	@extend .btn--light

.row-btn--center
	flex(mid)
	margin-top: 40px

.menu__list
	padding: 0
	a
		padding: 0
		text-transform: initial
		text-align: left
	.sub-menu
		padding-left: 20px
		width: 100%
		position: static
		display: block

.table
	min-width 290px
	display: block
	overflow: auto

.article__el
	padding: 20px
	margin-bottom: 20px
	border-raius 10px
	box-shadow 0px 2px 5px #f4f4f4
	display: block

.article__title
	font-size: 18px
	color black
	font-weight:bold

.article__text
	margin-top: 20px
	line-height: 1.6

.nav-links
	margin: 20px 0

.page-numbers
	padding: 10px
	border 1px solid #cccccc
	display: inline-block

.page-numbers.current
	border 1px solid black

.questions-items
	padding: 20px
	margin-bottom: 20px
	border-raius 10px
	box-shadow 0px 2px 5px #f4f4f4
	display: block

.questions-items__name
	font-size: 18px
	color black
	font-weight:bold
	margin-bottom: 20px

.questions-items__title
	margin-bottom: 20px
	color black
	font-style italic
	line-height: 1.6

.questions-items__text
	line-height: 1.6

.footer-list__menu
	+below(640px)
		display: none
	list-style none
	padding-left: 0
	display: block
	display: flex
	justify-content:space-between
	flex-wrap wrap
	.menu-item
		color black
		width: 30%
		text-transform: uppercase
		margin-bottom: 20px

.towns-list
	display: flex
	justify-content:center
	flex-wrap wrap

.towns-list__el
	display: inline-block
	padding: 5px 10px
	margin: 5px
	border-radius 10px
	background: #f7f7f7

.about-content
	display: flex
	justify-content: space-between
	flex-wrap wrap

.about-text
	+below(768px)
		order 2
		width: 100%
	width: 48%
.about-img
	width: 48%
	+below(768px)
		order 1
		width: 100%
		margin-bottom: 20px
.section--about
	padding-top: 0

.section--towns
	+below(768px)
		display: none

//NOTE!!! REMOVE CALC
.calculator
	padding-top: 200px
	flex(mid)
	fl()
.calculator__wrap
	width: 400px
	input
		width: 100%
		margin-bottom: 20px
.calculator__total
	color black
	font-size: 20px
	margin-bottom: 20px
.calc-get
	@extend .btn--md
	@extend .btn--mark
	margin: 0 auto
.calc-get-row
	flex(mid)
.calculator__row
	width: 100%
	flex(between)
	margin-bottom: 10px
.calculator__total
	center(580px,10px)
.calculator__total--text
	font-weight:bold
	margin-bottom: 20px
.calculator__text
	font-size: 14px
	span
		font-weight:bold
.calculator__val
	span
		display: inline-block
		margin-right: 10px

//NOTE!!! REMOVE CALC === end


.doc--three
	.doc__el
		+below(768px)
			padding: 20px
		+below(640px)
			width: 100%
		width: 31%
		padding: 40px
.doc--two
	.doc__el
		+below(768px)
			width: 46%
			margin-bottom: 20px
		+below(640px)
			width: 100%
			max-width 380px
		width: 32%
		margin: 0 10px
	f()
	justify-content: center
	align-items: stretch

.doc--line
	display: block
	max-width: 768px
	margin-left: auto
	margin-right: auto
.doc__el--line
	+below(640px)
		flex-flow column
	width: 100%
	margin-bottom: 20px
	flex-flow row
	align-items: center
	.doc__icon
		+below(640px)
			margin-bottom: 20px
			margin-right: 0
		margin-right: 30px
		margin-bottom: 0
	.doc__title
		+below(640px)
			text-align: center
		text-align: left
		margin-bottom: 10px
	.doc__text
		+below(640px)
			text-align: center
		text-align: left
.section-call--mid
	flex(mid)
	fl()
	.section-title
		width: 100%

section--calc
	padding: 140px 0

.irs-single
	+below(768px)
		font-size: 14px

.section--why
	bg-full()

.section-call--white
	padding: 40px
	background: white

.section--left-bg
	background-position: 30%

.section--left-contain
	-webkit-background-size: contain
	background-size: contain
	background-position: left center
.section--start-sm
	.section-title
		margin-bottom: 30px
	p
		font-size: 14px

.section--start-lg
	+below(768px)
		padding: 30px 0
	padding: 200px 0
	.section-title
		margin-bottom: 30px
	p
		font-size: 14px

.lp-baner__img--borderland
	+below(480px)
		background-position-x: 90%
	background-position: right
	background-size: cover
.lp-baner--borderland
	.lp-baner-filter
		+below(968px)
			display: block
		display: none

.get-sale__btn
	+below(640px)
		width: 100%
		margin-bottom: 20px
		padding: 20px
	@extend .btn--md
	@extend .btn--yellow
	padding: 20px 60px
	font-weight bold

.get-sale-row
	flex(mid)
	margin-bottom: 40px

.modal-sale__title
	+below(640px)
		font-size: 16px
	border-bottom: 1px solid $border-color
	padding: 30px 20px
	color black
	font-weight:bold
	font-size: 18px
	text-align: center
.modal--sale
	+below(640px)
		width: 100%
		max-width 100%
	max-width 640px
	width 640px
	.modal-content
		padding: 0
	.row-btn--center
		margin-top: 0
.modal-sale__list
	+below(640px)
		padding: 10px
	padding: 20px 20px 0px 20px

.modal-sale__el
	+below(640px)
		fw()
		flex(mid)
		fl()
	flex(between)
	line-height: 1.4
	margin-bottom: 20px

.modal-sale__el-icon
	+below(768px)
		margin-right: 0
	margin-right: 30px
	.icon
		size 60px

.modal-sale__el-text
	padding-top: 15px
	color black
.modal-sale__el-text-sub
	display: block
	margin-top: 5px
	padding-top: 5px
	border-top:1px solid $border-color
.modal-sale__text
	background: #fff0b3
	padding: 20px
	p
		text-align: center
		line-height: 1.4
		margin-bottom: 0
		span
			display: block
			font-weight:700

.modal-sale__text-add
	padding: 20px
	font-size: 12px
	text-align: center

.modal-sale-get
	@extend .btn--md
	@extend .btn--mark
	background-color $red
	color white
	font-weight bold
	padding: 15px 80px
	margin-bottom: 20px

.img-worker
	width: 80%

.lp-baner__wrap
	flex(between)
	width: 100%
.lp-baner__image
	width: 45%
	+below(768px)
		display: none
.lp-baner__image-el
	width: 100%
	padding: 45%
	bg-full()
	background-size contain

.irs-bar-edge,
.irs-bar
	height: 15px
	border-top: 1px solid #cfa910;
	border-bottom: 1px solid #cfa910;
	background:#cfa910;
	background: linear-gradient(to top, rgb(250, 222, 111) 0%,rgb(255, 227, 117) 100%);
.irs-bar-edge
	border-left: 1px solid #cfa910;
.irs-line-mid
	height: 15px
.irs-line
	height: 15px
.irs-grid-text
	+below(768px)
		font-size: 10px
	+below(640px)
		font-size: 8px
	font-size: 16px
.irs-grid
	bottom -2px
.irs-grid-pol
	background: #605d5d

.calc-text--attansion
	display: none
	span
		br(10px)
		padding: 7px 20px
		background: $green
		display: inline-block
		margin-bottom: 10px
		color white
.irs-from, .irs-to, .irs-single
	+below(640px)
		top: 0 !important

.lp-baner__title-status
	+below(640px)
		text-align: center
	padding: 10px 20px
	background: #f1f1f1
	color black
	br(10px)
	line-height: 1.6
	margin-bottom: 40px
	font-weight: bold
	display: inline-block

.section-title--add
	text-align: center

.section--calc--topograf
	.section-title-sub
		margin-top: 0
		margin-bottom: 20px
	.section-title--add
		margin-bottom: 60px
		flex(mid)
		span
			display: inline-block
			background: white
			padding: 10px 20px
			br(10px)
			color black
			font-size: 20px
			font-weight:bold
	.section-title
		margin-bottom: 20px

.cost-inform--calc
	padding: 10px
	br(10px)
	background: #faeaa8
	margin: 20px auto
	color black

.cost-inform--calc-gray
	background: #f1f1f1
.calc-ur-pay
	+below(768px)
		width: 100%
	width: 70%
	margin: 0 auto
	padding: 20px 20px 40px 20px
	line-height: 1.8
	br(10px)
	text-align: left
	background: white
	margin-top: 40px

.calc-ur-pay-title
	font-weight: bold
	color black
	font-size: 20px
	margin-bottom: 20px
	text-align: center
.calc-ur-pay-list
	ul
		margin: 20px 0

.calc-ur-cont
	f()
	justify-content: space-between
	.cost-inform--calc
		text-align: left
		flex(mid)
	.calc-ur-pay
		+below(768px)
			width: 100%
		width: 55%

.calc-ur-cont--mark
	.calc-ur-pay
		bsh()
		padding-bottom: 0
		margin-top: 0
	.calc-ur-pay-text
		text-align: center
	.cost-inform--calc
		text-align: center

.lp-baner__title--think
	text-transform: none
	font-weight: bold
	font-size: 58px
	+below(768px)
		font-size: 32px

.lp-baner__title--fat
	font-weight:bold
	line-height: 1.4

.section--why-topograf
	padding: 200px 0
	background-position: right
	background-size: cover
	+below(768px)
		//background-image: none!important
		padding: 50px 0
		background-position: -20% 0
		background-color: #ebebf3

.section--why-borderland
	padding: 200px 0
	background-position: right
	background-size: contain
	+below(768px)
		background-image: none!important
		padding: 50px 0

.lp-baner--contain
	background-size: contain
	background-position: right
	+below(768px)
		background-image: none!important
	//background-color: #ebebf3
.lp-baner--cover
	background-size: cover
	background-position: right
	+below(768px)
		background-image: none!important
.personal
	+below(640px)
		max-width:480px
		margin-left: auto
		margin-right: auto
	flex(between)
	fw()
.personal__el
	+below(640px)
		fl()
	width: 100%
	f()
	justify-content: space-between
	//fl()
	margin-bottom: 40px
.personal__el-img-wrap
	+below(640px)
		width: 100%
	width: 32%
	//margin-right: 5%
.personal__el-img
	+below(1024px)
		height: auto
	+below(640px)
		background-size: cover
	padding: 60% 30%
	width: 100%
	height: 100%
	bg-full()
	//background-size: contain
	background-position: top center
.personal__el-info
	+below(640px)
		width: 100%
	+below(480px)
		padding: 20px
	width: 65%
	padding: 40px
	background: white
.personal__el-title
	+below(640px)
		font-size: 18px
	font-size: 24px
	color black
	font-weight:bold
	margin-bottom: 10px

.personal__el-position
	font-weight:bold
	margin-bottom: 20px
.personal__el-text
	ul
		padding-left: 20px
		li
			line-height: 1.6
			//font-size: 12px
			margin-bottom: 10px
.personal-content
	+below(640px)
		padding: 20px 0
	background: #f1f1f1
	padding: 60px 0

.lp-baner__title--sm
	+below(768px)
		font-size: 26px
	+below(640px)
		font-size: 24px
	font-size: 40px

ol
	li
		line-height: 1.6
		margin-bottom: 10px
		color #111
		@extend .type--main
		font-size: 16px

.section--contain
	background-size: contain

.lp-baner--dark
	.lp-baner__title
		color white
		font-weight: bold
	.lp-baner__title-sub
		color white

.header__btn-get--yellow
	background: $yellow
	color black

//add new template

.section-call--full
	width: 100%
	bg-full()
.section--bg
	position: relative
	color: white
	.lp-baner-filter
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top 0
		background: red
//add new template

.cost__el-text--mark
	padding: 5px 10px
	background:#fff0b3
	color black
	br(10px)

.cost--three
	.cost__el
		+below(640px)
			width: 100%
			max-width 380px
		width: 32%

.cost--two
	.cost__el
		+below(768px)
			width: 46%
			margin-bottom: 20px
		+below(640px)
			width: 100%
			max-width 380px
		width: 32%
		margin: 0 10px
	flex(mid)

.section--mobile
	background-position: right
	padding: 200px 0
	+below(640px)
		background: #f7f7f7 !important
		padding: 30px 0

.section--survey
	+below(1400px)
		background-position: 15%
	+below(1024px)
		background-position: 20%
	background-position: 0%

.lp-baner__mobile
	.lp-baner__img
		+below(768px)
			background-image: url('../img/kadastr.jpg')!important
			bg-full()
	+below(768px)
		.lp-baner__title
			color white
		.lp-baner__title-sub
			color white
			opacity .7

ul,ol
	li
		line-height: 1.6
		color #111
		margin-bottom: 10px
		font-size: 16px
		+below(768px)
			font-size: 14px

.section--union
	+below(1200px)
		background-position: 15% right

.section--clear-bottom
	padding-bottom: 0

.solution
	+below(768px)
		margin-bottom: 0px
	f()
	fw()
	justify-content: space-between

.solution__el
	+below(640px)
		width: 100%
	br(10px)
	width: 49%
	padding: 30px
	background: white
	margin-bottom: 20px
.solution__el-icon
	.icon
		size 100px
		margin-bottom: 30px
		fill $green

.solution__el-title
	line-height: 1.6
	font-weight: bold
	color black
	margin-bottom: 20px
.solution__el-text
	line-height: 1.6

.section--lg
	+below(768px)
		padding: 50px 0
	padding: 150px 0
	background-position: top center
	background-repeat: no-repeat

.section--kadast-eng
	+below(768px)
		padding: 50px
		background: none
	bg-full()
	background-position: center right
	background-size: contain
	padding: 150px 0