@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
//@import "variable/_grid.styl"
@import "../module/**/*"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

// Grid breakpoints
$breakpoints = {
	'xs' :  0,
	'sm' : 480px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px
}

// Number of columns
$columns = 12

init($breakpoints, $columns)

body
	padding-top: 95px
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.section
	padding: 100px 0

.section-title
	text-align: center
	margin-bottom: 60px
	font-size: 40px
	color black
	up()
	font-weight:700

.title
	font-weight: 700
	color black
	font-size: 28px
	margin-bottom: 20px

.news
	f()
	fw()

.news__el
	item(3,40px)

.news__el-date
	margin-bottom: 10px

.news__el-title
	font-family: 'Gotham'
	margin-bottom: 20px
	color black
	font-weight 600
	line-height: 1.5
	font-size: 18px
	up()

.news__el-text
	line-height: 1.5

.section--news
	background: #f9f9f9

.advant
	f()
	justify-content: space-between

.advant-info
	width: 45%
	padding-top: 10%

.advant-info__el
	f()
	justify-content: space-between
	margin-bottom: 50px

.advant-info__ico
	margin-right: 40px
	.icon
		size 80px
		fill red

.advant-info__title
	font-weight: 700
	color black
	font-size: 28px
	margin-bottom: 20px

.advant-info__text
	line-height: 1.5
	width: 70%

.about-cont
	height: 485px
	width: 40%
	f()
	justify-content: center
	fl()

.about-cont__title
	@extend .title
	color white
	up()

.about-cont__text
	color white
	line-height: 1.9

.about
	bg-full()

.baner
	padding: 7% 0
	bg-full()
	background-position center right
	position: relative
	background: #efeeee
.service
	f()
	fw()

.section-title-sub
	text-align: center
	width: 60%
	margin: 0 auto
	margin-top: -40px
	margin-bottom: 80px
	line-height: 1.5

.service__el
	item(3,40px)
	margin-bottom: 40px
	padding: 80px 40px
	border 1px solid #efeded

.service__el-date
	margin-bottom: 10px

.service__title
	up()
	font-size: 18px
	font-family: 'Gotham'
	margin-bottom: 20px
	color black
	font-weight 600
	line-height: 1.5

.service__text
	line-height: 1.5

.service__price
	font-weight: bold
	font-size: 20px
	color black
	margin: 40px 0

.service__get
	f()

.service__btn
	@extend .btn--md
	font-weight bold

.service__btn-more
	@extend .btn--light
	margin-right: 20px

.service__btn-get
	@extend .btn--mark

.image-baner
	img
		max-width 1024px
		margin: 60px auto

.header-check
	width: 100%
	margin-bottom: 30px

.header-check-el
	f()
	align-items: center
	margin-bottom: 10px
	.icon
		size 30px
		fill $red
		margin-right: 20px

.header-check-text
	color black
	font-weight: bold
	up()

.header__get
	f()
	width: 100%

.header__btn
	@extend .btn--md
	padding: 20px 60px
	font-weight bold

.header__btn-more
	@extend .btn--light
	margin-right: 20px

.header__btn-get
	@extend .btn--mark
	background-color $red
	color white
	//box-shadow 0 9px 18px rgba(242, 0, 34, 0.6)