@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
//@import "variable/_grid.styl"
@import "../module/**/*"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

// Grid breakpoints
$breakpoints = {
	'xs' :  0,
	'sm' : 480px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px
}

// Number of columns
$columns = 12

init($breakpoints, $columns)

body
	//padding-top: 95px
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

//Добавялем стили для этого элемента
@-webkit-keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

//Анимация из animateCSs
@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	padding 10px
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 10
	border-bottom 1px solid #efeded
	padding-bottom: 5px
.main-cont
	center(1200px,10px)

.section
	padding: 100px 0

.section-title
	text-align: center
	margin-bottom: 60px
	font-size: 40px
	color black
	up()
	font-weight:700

.title
	font-weight: 700
	color black
	font-size: 28px
	margin-bottom: 20px

.news
	f()
	fw()

.news__el
	item(3,40px)

.news__el-date
	margin-bottom: 10px

.news__el-title
	font-family: 'Gotham'
	margin-bottom: 20px
	color black
	font-weight 600
	line-height: 1.5
	font-size: 18px
	up()

.news__el-text
	line-height: 1.5

.section--news
	background: #f9f9f9

.advant
	f()
	justify-content: space-between

.advant-info
	width: 45%
	padding-top: 10%

.advant-info__el
	f()
	justify-content: space-between
	margin-bottom: 50px

.advant-info__ico
	margin-right: 40px
	.icon
		size 80px
		fill red

.advant-info__title
	font-weight: 700
	color black
	font-size: 28px
	margin-bottom: 20px

.advant-info__text
	line-height: 1.5
	width: 70%

.about-cont
	height: 485px
	width: 40%
	f()
	justify-content: center
	fl()

.about-cont__title
	@extend .title
	color white
	up()

.about-cont__text
	color white
	line-height: 1.9

.about
	bg-full()

.baner
	padding: 7% 0
	bg-full()
	background-position center right
	position: relative
	background: #efeeee
.service
	f()
	fw()

.section-title-sub
	text-align: center
	width: 60%
	margin: 0 auto
	margin-top: -40px
	margin-bottom: 80px
	line-height: 1.5


.service__el
	item(3,40px)
	margin-bottom: 40px
	padding: 80px 40px
	border 1px solid #efeded

.service__el-date
	margin-bottom: 10px

.service__title
	up()
	font-size: 18px
	font-family: 'Gotham'
	margin-bottom: 20px
	color black
	font-weight 600
	line-height: 1.5

.service__text
	line-height: 1.5

.service__price
	font-weight: bold
	font-size: 20px
	color black
	margin: 40px 0

.service__get
	f()

.service__btn
	@extend .btn--md
	font-weight bold

.service__btn-more
	@extend .btn--light
	margin-right: 20px

.service__btn-get
	@extend .btn--mark

.image-baner
	img
		max-width 1024px
		margin: 60px auto

.header-check
	width: 100%
	margin-bottom: 30px

.header-check-el
	f()
	align-items: center
	margin-bottom: 10px
	.icon
		size 30px
		fill $red
		margin-right: 20px

.header-check-text
	color black
	font-weight: bold
	up()

.header__get
	f()
	width: 100%

.header__btn
	@extend .btn--md
	padding: 20px 60px
	font-weight bold

.header__btn-more
	@extend .btn--light
	margin-right: 20px

.header__btn-get
	@extend .btn--mark
	background-color $red
	color white
	//box-shadow 0 9px 18px rgba(242, 0, 34, 0.6)

.scroll-up
	+below(768px)
		size 40px
	flex(mid)
	round()
	cp()
	tr(all)
	position: fixed
	z-index 15
	bottom 5%
	right 5%
	border 1px solid $border-color
	size 64px
	opacity 0
	background: white
	&:hover
		background: black
		.icon
			fill white
	.icon
		+below(768px)
			size 15px
		size 30px
		fill black

.scroll-up--show
	opacity 1

.owl-next,.owl-prev
	position absolute
	top 50%
	margin-top -30px
	color white
	font-size 40px
.owl-carousel
	position relative
.owl-prev
	+below(768px)
		left 2%
	left -10%
.owl-next
	+below(768px)
		right 2%
	right -10%
.slider-control
	size 40
	fill darken($gray,20)
	tr(all)
	&:hover
		fill black
.owl-dots
	width 100%
	flex(mid)
	margin-top -40px
	position relative
	z-index 2000
.owl-dot
	round()
	margin 5px
	width 10px
	height 10px
	background white
.owl-dot.active
	background #322f40

.section--customer
	padding: 150px 0

.section--certificate
	bgi("img-1.jpg")
	bg-full()
	padding: 150px 0
	position: relative
	background-attachment: fixed
	//filter: blur(20px) grayscale(20%);
	.section-title
		color white
		position: relative
	.filter
		background: rgba(39, 57, 93, 0.72)

.filter
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
	background: rgba(60, 60, 60, 0.75)
/*
.slider
	width: 80%
	margin: 0 auto*/
