include block_html/_style.pug
include block_html/_include.pug

+header()

.personal-content
	.main-cont
		.section-title Наши сотрудники
		.personal
			- for (var i=0;i<12;i++)
				a(href="#").personal__el
					.personal__el-img-wrap
						.personal__el-img(style="background-image:url('img/personal.jpg')")
						.personal__el-arrow
							+icon("arrow-right-fat","icon")
					.personal__el-info
						.personal__el-title Мурагина Елизавета Васильевна
						.personal__el-position Генеральный директор ООО «ЦГиКУ»






+footer()

include ./block_html/_script.pug
