include block_html/_style.pug
include block_html/_include.pug

+header()

.personal-content
	.main-cont
		.section-title Наши сотрудники
		.personal
			- for (var i=0;i<12;i++)
				.personal__el
					.personal__el-img-wrap
						.personal__el-img(style="background-image:url('img/personal.jpg')")
					.personal__el-info
						.personal__el-title Мурагина Елизавета Васильевна
						.personal__el-position Генеральный директор ООО «ЦГиКУ»
						.personal__el-text
							ul
								li В 2010 году окончила Московский государственный университет геодезии и картографии (МИИГАиК) с присвоением квалификации «Инженер по специальности Городской кадастр».
								li В 2010 году прошла профессиональную переподготовку в Московском государственном университете геодезии и картографии (МИИГАиК) по программе «Оценка стоимости предприятия (бизнеса)».
								li В 2010 году получила квалификационный аттестат кадастрового инженера. Идентификационный номер квалификационного аттестата 50-10-140.
								li В 2016 году проходила повышение квалификации по направлению «Инженерные изыскания для подготовки проектной документации, строительства, реконструкции объектов капитального строительства (инженерно-геодезические изыскания)».
								li 01.08.2016 года включена в реестр Ассоциации «Саморегулируемая организация кадастровых инженеров» за регистрационным № 8162.





+footer()

include ./block_html/_script.pug
