include block_html/_style.pug
include block_html/_include.pug

+header()

//banner
.lp-baner.lp-baner--borderland.lp-baner__mobile
	.lp-baner__img.lp-baner--cover(style="background-image:url('img/baner-26.jpg')")
	.lp-baner-filter--dark
	.main-cont
		.lp-baner__wrap
			.lp-baner__content
				.lp-baner__title.lp-baner__title--fat Техплан объекта незавершенного строительства
				.lp-baner__title-sub Закажите технический план и забудьте о проблемах, связанных с незарегистрированным домом, строительство которого не завершено!
				.header__get
					a(href="#why").header__btn.header__btn-more Подробнее
					.header__btn.header__btn-get.modal-get(data-modal="order") Заказать

//Что это такое
#why.section.section--why.section--union.section--mobile(style="background-image:url('img/baner-31.jpg')")
	.main-cont
		.section-wrap
			.section-call.section-call--mid
				.section-title.section-title--left что это такое?
				.box
					p Технический план объекта незавершенного строительства – это подготовленный кадастровым инженером документ, на основании которого сведения о доме, строительство которого не завершено, вносятся в Единый государственный реестр недвижимости (ЕГРН).
					p Технический план подается в Росреестр (можно через МФЦ). По итогам проверки Росреестром технического плана правообладателю дома, строительство которого не завершено, выдаётся выписка ЕГРН на объект незавершенного строительства, подтверждающая факт постановки недостроенного дома на кадастровый учет и право собственности. С этого момента Ваш недостроенный дом считается официально зарегистрированным.


//Зачем это нужно
.section.section--start.section--survey(style="background-image:url('img/baner-28.jpg')")
	.main-cont
		.section-wrap
			.section-call.section-call--img
			.section-call
				.section-title.section-title--left Зачем это нужно?
				.box
					p Объектом незавершенного строительства признается любой недостроенный объект капитального строительства, в том числе на стадии строительства в 1%.
					p Согласно Федеральному закону №218-ФЗ от 13.07.2015 «О государственной регистрации недвижимости» государственной регистрации прав подлежат все объекты недвижимого имущества. Статьей 131 Гражданского кодекса РФ устанавливается обязательная регистрация в ЕГРН права собственности на недвижимые вещи. Согласно гражданско-правовому законодательству, объект незавершенного строительства является объектом недвижимости (ГК РФ, ст. 130). Исходя из этого, следует сделать вывод, что и на дом, строительство которого не завершено, необходима государственная регистрация права с занесением о нем сведений в ЕГРН.
					p Кодексом об административных правонарушениях РФ предусматривается административная ответственность за несоблюдение собственником, арендатором или иным пользователем установленного порядка государственной регистрации прав на недвижимое имущество или сделок с ним (ст. 19.21), а именно наложение административного штрафа.

//Это нужно знать
.section.section--text(style="background-image:url('img/baner-15.png')")
	.main-cont-sm
		.section-title Это нужно знать!
		.text-block
			p Для оформления права собственности на объект незавершенного строительства необходимо провести процедуру государственного кадастрового учета.
			p Формирование технического плана на объект незавершенного строительства необходимо для приобретения прав на недостроенный объект недвижимости. Такая ситуация может возникнуть, например, при банкротстве застройщика, при необходимости передачи строительной площадки другому подрядчику, при невозможности достройки объекта в связи с отсутствием финансирования.
			p.attanintion Также с 01.07.2017 года любая незарегистрированная постройка (в том числе недострой) властями признается самовольной постройкой – «самострой» - и требует сноса.


//service
.section.section--calc.section--calc--topograf
	.main-cont
		.section-title Стоимость наших работ
		.section-title-sub Работаем в Москве и во всех районах Московской области.
		.calc
			.calc-range__wrap
				.calc-range-val.calc-range-val--lg
					span от
					.calc-range-numb 20 000
					span руб
			.calc-text Цена за один объект. Время исполнения 10 раб. дней
		.calc-ur-cont
			.calc-ur-pay
				.calc-ur-pay-cont
					.calc-ur-pay-text Стоимость зависит от площади объекта незавершенного строительства. Имейте ввиду, что Вам также придётся уплатить гос. пошлину, взимаемую Росреестром при подаче технического плана.
				.cost-inform--calc.cost-inform--calc-gray Если Вы не хотите тратить свое время на подачу и получение документов из Росреестра, мы выполним это за Вас – плюс 5000 руб. к стоимости работ. От Вас потребуется нотариальная доверенность на нашего специалиста (форму доверенности Вам предоставит наш кадастровый инженер).

//Что войдет в стоимость
.section.section--doc.section--clear-bottom
	.main-cont
		.section-title Что войдет в стоимость работ ?
		.section-title-sub
		//.section-title-sub Геодезические обмеры земельного участка.
		.doc.doc--line
			.doc__el.doc__el--line
				.doc__icon
					+icon("design","icon")
				.doc__content
					.doc__title Обмеры внешнего контура объекта незавершенного строительства
					.doc__text Позволяют определить фактические габариты объекта, его координаты.
			.doc__el.doc__el--line
				.doc__icon
					+icon("save-disk","icon")
				.doc__content
					.doc__title Формирование технического плана на электронном цифровом носителе (диск), заверенного усиленной электронной подписью кадастрового инженера.
					.doc__text Необходим для внесения в ЕГРН сведений об объекте незавершенного строительства, то есть для его государственного кадастрового учета.

//Документы
.section.section--doc
	.main-cont
		.section-title Какие нужны документы?
		.section-title-sub Максимальный перечень необходимых документов
		.doc.doc--left
			.doc__el
				.doc__icon
					+icon("land","icon")
				.doc__title Свидетельство о праве собственности на земельный участок, выписка ЕГРН или договор аренды земельного участка.
				.doc__text Необходимо для подтверждения права на земельный участок, на котором расположен объект незавершенного строительства.
			.doc__el
				.doc__icon
					+icon("doc","icon")
				.doc__title Разрешение на строительство.
				.doc__text Документ, подтверждающий легальность производства работ по возведению объекта недвижимости.
			.doc__el
				.doc__icon
					+icon("compass","icon")
				.doc__title Проектная или иная техническая документация на объект.
				.doc__text Содержит текстовые и графические материалы и определяет архитектурные, функционально-технологические, конструктивные и инженерно-технические решения.
			.doc__el
				.doc__icon
					+icon("agreement","icon")
				.doc__title Паспортные данные / СНИЛС или реквизиты юр.лица.
				.doc__text Документы, необходимые для подтверждения Вашей личности.



//Как мы работаем
#step.section.section-step
	.section-filter
	.main-cont
		.section-title как мы работаем
		.step
			.step-row
				.step-el
					.step-content
						.step-numb 01
						.step-text
							.step-text__descr Отправляете нам заявку или звоните. Получаете бесплатную консультацию от кадастрового инженера.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 02
						.step-text
							.step-text__descr Направляете нам электронные копии Ваших документов или приезжаете с ними к нам в офис.
			.step-row
				.step-el
					.step-content
						.step-numb 03
						.step-text
							.step-text__descr Анализируем документы, готовим проект Договора, согласовываем с Вами дату и время приезда геодезистов для проведения измерений.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 04
						.step-text
							.step-text__descr В назначенное время геодезисты приезжают к Вам, передают Договор и производят измерения.
			.step-row
				.step-el
					.step-content
						.step-numb 05
						.step-text
							.step-text__descr Формируем технический план и согласовываем его с Вами.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 06
						.step-text
							.step-text__descr Передаем Вам готовый технический план.
//slider certificate
.section.section--certificate.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.filter
	.section-title Наши сертификаты
	.main-cont
		.slider-certificate.owl-carousel
			- for (var i=1;i<11;i++)
			.slider__el
				a(href="img/cert-" + i + ".jpg" rel="group-elemen").fancybox
					img(src="img/cert-" + i + ".jpg", alt="")

+footer()
include ./block_html/_script.pug
