include block_html/_style.pug
include block_html/_include.pug

+header()
//.header-baner(style="background-image:url('img/img-5.jpg')")

//main-service
.section.section--main-service
	.main-cont
		.section-title Наши самые популярные услуги
		.section-title-sub Сравните
			span.text--green наши цены &nbsp;
			|c&nbsp;
			span.text--red ценами конкурентов
		.main-service
			.main-service__col
				.main-service__title Кадастровые работы
				.main-service__el
					.main-service__cont
						.main-service__el-title Технический план дома
						.main-service__title-sub площадь дома до 100 кв. м
						.main-service__price-row
							.main-service__price.main-service__price--true 14 000 руб.
							.main-service__price.main-service__price--false 15 000 руб.
						.main-service__get
							a(href="#").main-service__btn.main-service__btn-more Подробнее
							.main-service__btn.main-service__btn-get.modal-get(data-modal="order") Заказать
					.main-service__img
						.main-service__img-el(style="background-image:url('img/service-el-1.jpg')")

				.main-service__el
					.main-service__cont
						.main-service__el-title Межевание (уточнение границ) земельного участка
						.main-service__title-sub размер участка до 8 соток
						.main-service__price-row
							.main-service__price.main-service__price--true 14 000 руб.
							.main-service__price.main-service__price--false 15 000 руб.
						.main-service__get
							a(href="#").main-service__btn.main-service__btn-more Подробнее
							.main-service__btn.main-service__btn-get.modal-get(data-modal="order") Заказать
					.main-service__img
						.main-service__img-el(style="background-image:url('img/service-el-3.jpg')")

				.main-service__el
					.main-service__cont
						.main-service__el-title Исправление кадастровой (реестровой) ошибки
						.main-service__title-sub размер участка до 8 соток
						.main-service__price-row
							.main-service__price.main-service__price--true 14 000 руб.
							.main-service__price.main-service__price--false 15 000 руб.
						.main-service__get
							a(href="#").main-service__btn.main-service__btn-more Подробнее
							.main-service__btn.main-service__btn-get.modal-get(data-modal="order") Заказать
					.main-service__img
						.main-service__img-el(style="background-image:url('img/service-el-5.jpg')")

				.main-service__el
					.main-service__cont
						.main-service__el-title Межевой план
						.main-service__title-sub на раздел, объединение и т.п.
						.main-service__price-row
							.main-service__price.main-service__price--true 10 000 руб.
							.main-service__price.main-service__price--false 15 000 руб.
						.main-service__get
							a(href="#").main-service__btn.main-service__btn-more Подробнее
							.main-service__btn.main-service__btn-get.modal-get(data-modal="order") Заказать
					.main-service__img
						.main-service__img-el(style="background-image:url('img/service-el-7.jpg')")

				a(href="#").main-service__el-get Eще услуги

			.main-service__col
				.main-service__title Геодезические работы
				.main-service__el
					.main-service__cont
						.main-service__el-title Топографическая съемка
						.main-service__title-sub размер участка до 10 соток, 5 точек
						.main-service__price-row
							.main-service__price.main-service__price--true 10 000 руб.
							.main-service__price.main-service__price--false 12 000 руб.
						.main-service__get
							a(href="#").main-service__btn.main-service__btn-more Подробнее
							.main-service__btn.main-service__btn-get.modal-get(data-modal="order") Заказать
					.main-service__img
						.main-service__img-el(style="background-image:url('img/service-el-2.jpg')")

				.main-service__el
					.main-service__cont
						.main-service__el-title Кадастровая съемка
						.main-service__title-sub площадь участка до 8 соток
						.main-service__price-row
							.main-service__price.main-service__price--true 14 000 руб.
							.main-service__price.main-service__price--false 15 000 руб.
						.main-service__get
							a(href="#").main-service__btn.main-service__btn-more Подробнее
							.main-service__btn.main-service__btn-get.modal-get(data-modal="order") Заказать
					.main-service__img
						.main-service__img-el(style="background-image:url('img/service-el-4.jpg')")

				.main-service__el
					.main-service__cont
						.main-service__el-title Вынос границ в натуру
						.main-service__title-sub размер участка до 8 соток
						.main-service__price-row
							.main-service__price.main-service__price--true 10 000 руб.
							.main-service__price.main-service__price--false 12 000 руб.
						.main-service__get
							a(href="#").main-service__btn.main-service__btn-more Подробнее
							.main-service__btn.main-service__btn-get.modal-get(data-modal="order") Заказать
					.main-service__img
						.main-service__img-el(style="background-image:url('img/service-el-6.jpg')")

				.main-service__el
					.main-service__cont
						.main-service__el-title Геодезическое сопровождение строительства
						.main-service__title-sub день работы бригады геодезистов
						.main-service__price-row
							.main-service__price.main-service__price--true 10 000 руб.
							.main-service__price.main-service__price--false 15 000 руб.
						.main-service__get
							a(href="#").main-service__btn.main-service__btn-more Подробнее
							.main-service__btn.main-service__btn-get.modal-get(data-modal="order") Заказать
					.main-service__img
						.main-service__img-el(style="background-image:url('img/service-el-8.jpg')")
				a(href="#").main-service__el-get Eще услуги

//section-advance
#advance.section.section-advance
	.main-cont
		.section-title Почему выбирают нас
		.advance
			.advance-el
				.advance-icon
					+icon("attest","icon")
				.advance-text Штат аттестованных кадастровых инженеров. Лицензии СРО.
			.advance-el
				.advance-icon
					+icon("time","icon")
				.advance-text Оперативность решения вопросов.
			.advance-el
				.advance-icon
					+icon("worker","icon")
				.advance-text Все работы выполняются нашими штатными специалистами

			.advance-el
				.advance-icon
					+icon("money","icon")
				.advance-text Окончательный расчет производится по факту выполнения работ.
			.advance-el
				.advance-icon
					+icon("posred","icon")
				.advance-text Мы работаем без посредников, поэтому Вы экономите свои средства и время.
			.advance-el
				.advance-icon
					+icon("result","icon")
				.advance-text Более 1000 выполненных объектов по Москве и Московской области.


//about
//.about.wow.fadeIn(style="background-image:url('img/our-gray.jpg')" data-wow-duration="1.75s" data-wow-delay="1s")
	.main-cont
		.about-cont
			.about-cont__title О нашей компании
			.about-cont__text
				p Компания «Центр геодезических и кадастровых услуг» (ЦГиКУ) – это динамично развивающаяся организация, начавшая свою работу в 2012 году, основным профилем которой является выполнение кадастровых и геодезических работ. За время деятельности компании нами выполнены работы более чем на 5000 объектах по всей России.
				p Мы являемся постоянными подрядчиками ПАО Сбербанк, АО «Мосводоканал», АО «Дон-Строй Инвест», ГУП «Московское имущество», ЦУМ, ГБУ МО «МОСАВТОДОР», АШАН, LIEBHERR и др., что подтверждается благодарственными письмами.
				p Наши сотрудники - выпускники ведущих профильных ВУЗов страны, таких как Московский государственный университет геодезии и картографии (МИИГАиК), Государственный университет по землеустройству (ГУЗ). Все наши кадастровые инженеры имеют Аттестаты кадастровых инженеров и состоят в СРО, таких как А СРО «Кадастровые инженеры», А СРО «ОПКД».
				p Показатель качества выполняемых нами услуг – долгосрочные и взаимовыгодные отношения как с крупными компаниями, так и с частными лицами. Выбирая нас, Вы можете быть уверены в грамотном и оперативном решении поставленных задач!

//slider customer
.section.section--customer.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.section-title Наши заказчики
	.main-cont
		.slider-customer.owl-carousel
			- for (var i=1;i<15;i++)
				.slider__el
					img(src="img/"+i+"-customer.jpg", alt="")

//slider certificate
.section.section--certificate.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.filter
	.section-title Наши сертификаты
	.main-cont
		.slider-certificate.owl-carousel
			- for (var i=1;i<11;i++)
				.slider__el
					a(href="img/cert-"+i+".jpg" rel="group-elemen").fancybox
						img(src="img/cert-"+i+".jpg", alt="")

//service
//.section.section--service.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.main-cont
		.section-title Популярные услуги
		.section-title-sub уточнение, исправление реестровой ошибки, объединение, раздел, перераспределение, образование земельных участков
		.service
			- for (var i=0;i<6;i++)
				.service__el
					.service__title Уточнение границ земельного участка
					.service__text Если границы Вашего земельного участка не установлены, либо установлены, но с точностью ниже нормативной – изготавливается межевой план по уточнению границ и (или) площади земельного участка.
					.service__price 18 000 руб.
					.service__get
						.service__btn.service__btn-more Подробнее
						.service__btn.service__btn-get Заказать




#contact.section.section-contact
	.main-cont
		.section-title Наши контакты
		.contact
			.contact-form.contact-form--footer
				.main-form
					.form-title Оставьте вашу заявку
					.form-title-sub Мы свяжемся с вам в кратчайшее время
					form.validate-form.form--footer( action="javascript:void(null);")
						.input-row
							input(type="text" name="name" placeholder="Ваше имя").input
						.input-row
							input(type="text" name="phone" placeholder="Ваш телефон").input
						.input-row
							textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
						.agree-row
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox" name="agree").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text=text
							.agree-row__text Согласен с
								a(href="#") условиями обработки персональных данных
						input(type="submit" value="Отправить заявку").form-footer-send
				.contact-info
					.map
						script("text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A104108c83896b1a6c1b544e50f3d690ee4df2f43b13730f0b9a6f0d5ead96cae&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=false")

					.contact-row-wrap
						.contact-row
							.contact-icon
								+icon("placeholder","icon")
							.contact-text Москва, 1-ый Варшавский проезд, д.1А, строен.9, офис 2.6
						.contact-row
							.contact-icon
								+icon("phone-call","icon")
							.contact-text +7 (495) 514-84-13
						.contact-row
							.contact-icon
								+icon("mail","icon")
							.contact-text info@cgiku.ru
						.contact-row
							.contact-icon
								+icon("metro","icon")
							a(href="#").contact-text.contact-text--link Как к нам проехать
	//section-contact-end

//news
.section.section--news.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.section-title Новости
	.main-cont
		.news
			.news__el
				.news__el-date 18 июля 2017
				.news__el-title ЦЕНЫ НА ЭЛИТНЫЕ НОВОСТРОЙКИ В МОСКВЕ УПАЛИ
				.news__el-text По итогам первого полугодия 2015 года долларовые цены на первичном рынке высокопремиального жилья Москвы показали рекордно низкий уровень за последние семь лет ...
			.news__el
				.news__el-date 22 авгутса 2017
				.news__el-title Межевание участков, постановка на учет
				.news__el-text Подготовка межевого плана и постановка на кадастровый учет. Уточнение границ, раздел, Объединение, выделение частей участков, межевание земель, придомовой территории....

			.news__el
				.news__el-date 19 сентября 2014
				.news__el-title Подготовка технических планов
				.news__el-text Технический план квартиры, дома, помещения, сооружения, гаража, объекта незавершенного строительства. Технический план для ввода объекта в эксплуатацию. Акт обследования. Заключение кадастрового инженера...

			.news__el
				.news__el-date 03 апреля 2014
				.news__el-title Кадастровая съемка участков
				.news__el-text Кадастровая съемка участка, Акт выбора земельных участков, Ситуационный план, Схема расположения земельного участка на кадастровой карте...

			.news__el
				.news__el-date 18 июля 2017
				.news__el-title ЦЕНЫ НА ЭЛИТНЫЕ НОВОСТРОЙКИ В МОСКВЕ УПАЛИ
				.news__el-text По итогам первого полугодия 2015 года долларовые цены на первичном рынке высокопремиального жилья Москвы показали рекордно низкий уровень за последние семь лет ...
			.news__el
				.news__el-date 22 авгутса 2017
				.news__el-title Межевание участков, постановка на учет
				.news__el-text Подготовка межевого плана и постановка на кадастровый учет. Уточнение границ, раздел, Объединение, выделение частей участков, межевание земель, придомовой территории....

//questions
.section.section--news.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.section-title Часто задаваемые вопросы
	.section-title-sub Просто о сложном
	.main-cont
		.questions
			.questions-slider.owl-carousel
				- for (var i=0;i<6;i++)
					.questions__el
						.questions__el-wrap
							.questions__name Валерия Моисеева.
							.questions__title Здравствуйте! Поясните, пожалуйста, что такое кадастровая ошибка и как ее устранить?
							.questions__text
								p Кадастровой ошибкой является ошибка, воспроизведенная в государственном кадастре недвижимости ошибка в документе, на основании которого вносились сведения в государственный кадастр недвижимости. То есть в отношении границ земельных участков кадастровой ошибкой является ошибка, допущенная при определении координат характерных точек границ участка и воспроизведенная в государственном кадастре недвижимости.
								p Кадастровой ошибкой является ошибка, воспроизведенная в государственном кадастре недвижимости ошибка в документе, на основании которого вносились сведения в государственный кадастр недвижимости. То есть в отношении границ земельных участков кадастровой ошибкой является ошибка, допущенная при определении координат характерных точек границ участка и воспроизведенная в государственном кадастре недвижимости.
							.row-btn--center
								a(href="#").questions__el-get Подробнее
			.questions-more
				.questions-title-sub Чтобы получить ответы на другие Ваши  вопросы, читайте наши статьи:
				.questions-list

					a(href="#").questions-list__el Пример кадастрового паспорта квартиры
					a(href="#").questions-list__el Образец межевого плана земельного участка
					a(href="#").questions-list__el Обязательно ли делать межевание земельного участка
				a(href="#").questions-list__get Все статьи

.footer
	.footer-menu
		//.main-cont
			.menu
				.menu-el
					a(href="#")
						span Главная
				.menu-el.menu-el-service
					a(href="#")
						span Услуги
				.menu-el
					a(href="#")
						span О компании
				.menu-el
					a(href="#")
						span Прайс-лист
				.menu-el
					a(href="#")
						span Наши лицензии
				.menu-el
					a(href="#")
						span Контакты
				.menu-el.menu-el--mark
					a(href="#")
						span Акции
	.footer-info
		.main-cont
			.footer-container
				.footer-list
					- for (var i=0;i<15;i++)
						.footer-list__el пункт меню #{i}
				.footer-info-wrap
					a(href="/").footer-info__logo
						img(src="img/logo-dark.png", alt="").logo--full
					.footer-info__phone
							a(href="tel:+7 (495) 514-84-13").footer-info__phone +7 (495) 514-84-13
							a(href="tel:+7 (495) 514-84-13").footer-info__phone +7 (495) 283-96-83
.scroll-up
	+icon("arrow-up","icon")

.modal-layer
	.modal-cont
		.modal-filter
		.modal-wrap
			.modal(data-modal="order")
				.modal-content.modal-content--fogot
					.modal-close
						+icon("close","icon")
					.modal-title Бесплатная консультация
					.modal-text Обращаетесь к нам впервые? <br> Оформите обращение с помощью этой формы, мы перезвоним Вам и проконсультируем по любому Вашему вопросу совершенно бесплатно!
					form.validate-form( action="javascript:void(null);")
						.input-row
							input(type="text" name="name" placeholder="Ваше имя").input
						.input-row
							input(type="text" name="phone" placeholder="Ваш телефон").input
						.input-row
							textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
						.agree-row
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox" name="agree").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text=text
							.agree-row__text Согласен с
								a(href="#") условиями обработки персональных данных
						input(type="submit" value="Отправить заявку").modal-send

			.modal(data-modal="true")
				.modal-content.modal-content--true
					+icon("interface","icon")
					.modal-text-true Ваша заявка принята

			.modal(data-modal="next")
				.modal-content.modal-content--truesend
					+icon("interface","icon")
					.modal-text-truesend Ваша заявка принята!

include ./block_html/_script.pug
