include block_html/_style.pug
include block_html/_include.pug

+header()
//.header-baner(style="background-image:url('img/img-5.jpg')")

.image-baner
	//img(src="img/img-8.jpg", alt="")
	//img(src="img/house-1.png", alt="")
//.baner(style="background-image:url('img/img-2.jpg')")
.baner
	.main-cont
		.slider-header-baner.owl-carousel
			.header-baner
				.header-baner__slogan
					.header-baner__text Технический план дома
					//.header-baner__text--sub Площадь до 100 кв.м
					.header-check
						.header-check-el
							.header-check-ico
								+icon("checked","icon")
							.header-check-text Выполнение поставленных сроков
						.header-check-el
							.header-check-ico
								+icon("checked","icon")
							.header-check-text Низкая цена услуг
						.header-check-el
							.header-check-ico
								+icon("checked","icon")
							.header-check-text Лучшие специалисты
						.header-check-el
							.header-check-ico
								+icon("checked","icon")
							.header-check-text Оперативный выезд на место
					.header-baner__price
						.header-baner__price-el.header-baner__price--true 14 000 р.
						.header-baner__price-el.header-baner__price--false 15 000 р.
					.header-baner__price-info
						span Подача в Росреестр – плюс 3 000 руб. к стоимости работ.
					.header__get
						.header__btn.header__btn-more Подробнее
						.header__btn.header__btn-get.modal-get(data-modal="order") Заказать

				.header-baner__img
					img(src="img/baner-2.png", alt="")

			.header-baner
				.header-baner__slogan
					.header-baner__text Межевание участка
					.header-check
						.header-check-el
							.header-check-ico
								+icon("checked","icon")
							.header-check-text Подготовка необходимой документации
						.header-check-el
							.header-check-ico
								+icon("checked","icon")
							.header-check-text Соблюдение нормативов
						.header-check-el
							.header-check-ico
								+icon("checked","icon")
							.header-check-text Гарантия выполненных работ
						.header-check-el
							.header-check-ico
								+icon("checked","icon")
							.header-check-text Соблюдение сроков
					.header-baner__price
						.header-baner__price-el.header-baner__price--true 14 000 р.
						.header-baner__price-el.header-baner__price--false 15 000 р.
					.header-baner__price-info
						span Подача в Росреестр – плюс 3 000 руб. к стоимости работ.
					.header__get
						.header__btn.header__btn-more Подробнее
						.header__btn.header__btn-get.modal-get(data-modal="order") Заказать

				.header-baner__img
					img(src="img/baner-1.png", alt="")

//service two column
.section.section--list
	.main-cont
		.section-title Направления нашей деятельности
		.section-title-sub уточнение, исправление реестровой ошибки, объединение, раздел, перераспределение, образование земельных участков
		.category
			.category__el
				.category__el--img
					img(src="img/category-kadastr.png", alt="")
				.category__el--title Кадастровые работы
				.category__el-info
					-
						var items = [
							'Межевой план',
							'Технический план',
							'Уточнение границ участка '
							];
					each item in items
						a(href="#").category__el--item #{item}
				a(href="#").category__el-get Eще услуги

			.category__el
				.category__el--img
					img(src="img/category-land.png", alt="")
				.category__el--title Геодезические работы
				.category__el-info
					-
						var items = [
						'Вынос границ земельного участка',
						'Топографическая съемка',
						'Кадастровая съемка '
						];
					each item in items
						a(href="#").category__el--item #{item}
				a(href="#").category__el-get Eще услуги

//about
.about.wow.fadeIn(style="background-image:url('img/our-gray.jpg')" data-wow-duration="1.75s" data-wow-delay="1s")
	.main-cont
		.about-cont
			.about-cont__title О нашей компании
			.about-cont__text
				p Компания «Центр геодезических и кадастровых услуг» (ЦГиКУ) – это динамично развивающаяся организация, начавшая свою работу в 2012 году, основным профилем которой является выполнение кадастровых и геодезических работ. За время деятельности компании нами выполнены работы более чем на 5000 объектах по всей России.
				p Мы являемся постоянными подрядчиками ПАО Сбербанк, АО «Мосводоканал», АО «Дон-Строй Инвест», ГУП «Московское имущество», ЦУМ, ГБУ МО «МОСАВТОДОР», АШАН, LIEBHERR и др., что подтверждается благодарственными письмами.
				p Наши сотрудники - выпускники ведущих профильных ВУЗов страны, таких как Московский государственный университет геодезии и картографии (МИИГАиК), Государственный университет по землеустройству (ГУЗ). Все наши кадастровые инженеры имеют Аттестаты кадастровых инженеров и состоят в СРО, таких как А СРО «Кадастровые инженеры», А СРО «ОПКД».
				p Показатель качества выполняемых нами услуг – долгосрочные и взаимовыгодные отношения как с крупными компаниями, так и с частными лицами. Выбирая нас, Вы можете быть уверены в грамотном и оперативном решении поставленных задач!

//slider customer
.section.section--customer.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.section-title Наши заказчики
	.main-cont
		.slider-customer.owl-carousel
			- for (var i=1;i<15;i++)
				.slider__el
					img(src="img/"+i+"-customer.jpg", alt="")

//slider certificate
.section.section--certificate.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.filter
	.section-title Наши сертификаты
	.main-cont
		.slider-certificate.owl-carousel
			- for (var i=1;i<11;i++)
				.slider__el
					a(href="img/cert-"+i+".jpg" rel="group-elemen").fancybox
						img(src="img/cert-"+i+".jpg", alt="")

//advant
.section.section--advant.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.section-title Наши преимущества
	.main-cont
		.advant
			.advant-info
				.advant-info__el
					.advant-info__ico
						+icon("doc","icon")
					.advant-info__cont
						.advant-info__title Точнее не бывает!
						.advant-info__text Измерение площади участка рулеткой даёт погрешность в десятки квадратных метров.
				.advant-info__el
					.advant-info__ico
						+icon("plan","icon")
					.advant-info__cont
						.advant-info__title Работы «под ключ»
						.advant-info__text Стоять в очередях больше не нужно - мы все берем на себя!
				.advant-info__el
					.advant-info__ico
						+icon("time","icon")
					.advant-info__cont
						.advant-info__title Выезд сразу
						.advant-info__text Стоять в очередях больше не нужно - мы все берем на себя!
				.advant-info__el
					.advant-info__ico
						+icon("money","icon")
					.advant-info__cont
						.advant-info__title Консультации — 0 рублей
						.advant-info__text Стоять в очередях больше не нужно - мы все берем на себя!
			.advant-img
				img(src="img/instr.jpg", alt="")

//service
.section.section--service.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.main-cont
		.section-title Популярные услуги
		.section-title-sub уточнение, исправление реестровой ошибки, объединение, раздел, перераспределение, образование земельных участков
		.service
			- for (var i=0;i<6;i++)
				.service__el
					.service__title Уточнение границ земельного участка
					.service__text Если границы Вашего земельного участка не установлены, либо установлены, но с точностью ниже нормативной – изготавливается межевой план по уточнению границ и (или) площади земельного участка.
					.service__price 18 000 руб.
					.service__get
						.service__btn.service__btn-more Подробнее
						.service__btn.service__btn-get Заказать

//step work
#step.section.section-step
	.section-filter
	.main-cont
		.section-title как мы работаем
		.step
			.step-row
				.step-el
					.step-content
						.step-numb 01
						.step-text
							.step-text__title Отправляете нам заявку
							.step-text__descr Наши кадастровые инженеры проведут для Вас бесплатную консультацию. Выбор даты и времени выезда геодезистов для обмеров.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 02
						.step-text
							.step-text__title Подписание договора
							.step-text__descr Наши сотрудники могут привезти подписанный нами договор в день производства обмеров, либо Вы можете приехать к нам в офис в удобное время.
			.step-row
				.step-el
					.step-content
						.step-numb 03
						.step-text
							.step-text__title Выезд геодезистов для обмеров.
							.step-text__descr Наши специалисты выезжают непосредственно на рабочий объек и проводят все необходимые работы.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 04
						.step-text
							.step-text__title Обработка результатов
							.step-text__descr Камеральная обработка произведенных обмеров, согласование с Вами результатов обмеров. Формирование кадастровой документации.

			.step-row
				.step-el
					.step-content
						.step-numb 05
						.step-text
							.step-text__title Передача Вам готовой  документации.
							.step-text__descr Вы получаете на руки все необходимые документы, оформленные в соответсвии со всеми правилами и стандартами.
					.step-line
						.step-dot

//news
.section.section--news.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.section-title Новости
	.main-cont
		.news
			.news__el
				.news__el-date 18 июля 2017
				.news__el-title ЦЕНЫ НА ЭЛИТНЫЕ НОВОСТРОЙКИ В МОСКВЕ УПАЛИ
				.news__el-text По итогам первого полугодия 2015 года долларовые цены на первичном рынке высокопремиального жилья Москвы показали рекордно низкий уровень за последние семь лет ...
			.news__el
				.news__el-date 22 авгутса 2017
				.news__el-title Межевание участков, постановка на учет
				.news__el-text Подготовка межевого плана и постановка на кадастровый учет. Уточнение границ, раздел, Объединение, выделение частей участков, межевание земель, придомовой территории....

			.news__el
				.news__el-date 19 сентября 2014
				.news__el-title Подготовка технических планов
				.news__el-text Технический план квартиры, дома, помещения, сооружения, гаража, объекта незавершенного строительства. Технический план для ввода объекта в эксплуатацию. Акт обследования. Заключение кадастрового инженера...

			.news__el
				.news__el-date 03 апреля 2014
				.news__el-title Кадастровая съемка участков
				.news__el-text Кадастровая съемка участка, Акт выбора земельных участков, Ситуационный план, Схема расположения земельного участка на кадастровой карте...

			.news__el
				.news__el-date 18 июля 2017
				.news__el-title ЦЕНЫ НА ЭЛИТНЫЕ НОВОСТРОЙКИ В МОСКВЕ УПАЛИ
				.news__el-text По итогам первого полугодия 2015 года долларовые цены на первичном рынке высокопремиального жилья Москвы показали рекордно низкий уровень за последние семь лет ...
			.news__el
				.news__el-date 22 авгутса 2017
				.news__el-title Межевание участков, постановка на учет
				.news__el-text Подготовка межевого плана и постановка на кадастровый учет. Уточнение границ, раздел, Объединение, выделение частей участков, межевание земель, придомовой территории....

+footer()

include ./block_html/_script.pug
