include block_html/_style.pug
include block_html/_include.pug

+header()
//.header-baner(style="background-image:url('img/img-5.jpg')")

.image-baner
	//img(src="img/img-8.jpg", alt="")
	//img(src="img/house-1.png", alt="")
//.baner(style="background-image:url('img/img-2.jpg')")
.baner
	.main-cont
		.header-baner
			.header-baner__slogan
				.header-baner__text кадастровые и геодезические услуги
				.header-baner__text--sub Вы можете доверять нашим профессионалам
				.header-check
					.header-check-el
						.header-check-ico
							+icon("checked","icon")
						.header-check-text Выполнение поставленных сроков
					.header-check-el
						.header-check-ico
							+icon("checked","icon")
						.header-check-text Низкая цена услуг
					.header-check-el
						.header-check-ico
							+icon("checked","icon")
						.header-check-text Лучшие специалисты
					.header-check-el
						.header-check-ico
							+icon("checked","icon")
						.header-check-text Выезд в тот же день

				.header__get
					.header__btn.header__btn-more Подробнее
					.header__btn.header__btn-get Заказать

			.header-baner__img
				img(src="img/img-10.png", alt="")

//service
.section.section--service
	.main-cont
		.section-title Услуги по межеванию
		.section-title-sub уточнение, исправление реестровой ошибки, объединение, раздел, перераспределение, образование земельных участков
		.service
			- for (var i=0;i<6;i++)
				.service__el
					.service__title Уточнение границ земельного участка
					.service__text Если границы Вашего земельного участка не установлены, либо установлены, но с точностью ниже нормативной – изготавливается межевой план по уточнению границ и (или) площади земельного участка.
					.service__price 18 000 руб.
					.service__get
						.service__btn.service__btn-more Подробнее
						.service__btn.service__btn-get Заказать

//.section.section--advant
	.section-title Наши преимущества
	.main-cont
		.advant
			.advant-info
				.advant-info__el
					.advant-info__ico
						+icon("heart","icon")
					.advant-info__cont
						.advant-info__title Точнее не бывает!
						.advant-info__text Измерение площади участка рулеткой даёт погрешность в десятки квадратных метров.
				.advant-info__el
					.advant-info__ico
						+icon("heart","icon")
					.advant-info__cont
						.advant-info__title Работы «под ключ»
						.advant-info__text Стоять в очередях больше не нужно - мы все берем на себя!
				.advant-info__el
					.advant-info__ico
						+icon("heart","icon")
					.advant-info__cont
						.advant-info__title Выезд сразу
						.advant-info__text Стоять в очередях больше не нужно - мы все берем на себя!
				.advant-info__el
					.advant-info__ico
						+icon("heart","icon")
					.advant-info__cont
						.advant-info__title Консультации — 0 рублей
						.advant-info__text Стоять в очередях больше не нужно - мы все берем на себя!
			.advant-img
				img(src="img/instr.jpg", alt="")
				//img(src="img/img-8.jpg", alt="")

//about
.about(style="background-image:url('img/our.jpg')")
	.main-cont
		.about-cont
			.about-cont__title О нашей компании
			.about-cont__text Мы всегда ценим Ваше время. Для выполнения большего вида предоставляемых нами услуг от Вас не требуется никаких оригиналов правоустанавливающих и правоудостоверяющих документов!<br> <br>Вам достаточно выслать нам скан или фото таких документов по электронной почте. Наши специалисты проверят Ваши документы и свяжутся с Вами для дальнейшего сотрудничества. Мы так же можем выслать Вам коммерческое предложение заверенное подписью Генерального директора и печатью организации.

//advant
.section.section--advant
	.section-title Наши преимущества
	.main-cont
		.advant
			.advant-info
				.advant-info__el
					.advant-info__ico
						+icon("doc","icon")
					.advant-info__cont
						.advant-info__title Точнее не бывает!
						.advant-info__text Измерение площади участка рулеткой даёт погрешность в десятки квадратных метров.
				.advant-info__el
					.advant-info__ico
						+icon("plan","icon")
					.advant-info__cont
						.advant-info__title Работы «под ключ»
						.advant-info__text Стоять в очередях больше не нужно - мы все берем на себя!
				.advant-info__el
					.advant-info__ico
						+icon("time","icon")
					.advant-info__cont
						.advant-info__title Выезд сразу
						.advant-info__text Стоять в очередях больше не нужно - мы все берем на себя!
				.advant-info__el
					.advant-info__ico
						+icon("money","icon")
					.advant-info__cont
						.advant-info__title Консультации — 0 рублей
						.advant-info__text Стоять в очередях больше не нужно - мы все берем на себя!
			.advant-img
				img(src="img/instr.jpg", alt="")

//slider customer
.section.section--customer
	.section-title Наши заказчики
	.main-cont
		.slider.owl-carousel
			- for (var i=1;i<15;i++)
				.slider__el
					img(src="img/"+i+"-customer.jpg", alt="")

//slider certificate
.section.section--certificate
	.filter
	.section-title Наши сертификаты
	.main-cont
		.slider.owl-carousel
			- for (var i=1;i<15;i++)
				.slider__el
					a(href="img/cert.jpg" rel="group-elemen").fancybox
						img(src="img/cert.jpg", alt="")

//news
.section.section--news
	.section-title Новости
	.main-cont
		.news
			.news__el
				.news__el-date 18 июля 2017
				.news__el-title ЦЕНЫ НА ЭЛИТНЫЕ НОВОСТРОЙКИ В МОСКВЕ УПАЛИ
				.news__el-text По итогам первого полугодия 2015 года долларовые цены на первичном рынке высокопремиального жилья Москвы показали рекордно низкий уровень за последние семь лет ...
			.news__el
				.news__el-date 22 авгутса 2017
				.news__el-title Межевание участков, постановка на учет
				.news__el-text Подготовка межевого плана и постановка на кадастровый учет. Уточнение границ, раздел, Объединение, выделение частей участков, межевание земель, придомовой территории....

			.news__el
				.news__el-date 19 сентября 2014
				.news__el-title Подготовка технических планов
				.news__el-text Технический план квартиры, дома, помещения, сооружения, гаража, объекта незавершенного строительства. Технический план для ввода объекта в эксплуатацию. Акт обследования. Заключение кадастрового инженера...

			.news__el
				.news__el-date 03 апреля 2014
				.news__el-title Кадастровая съемка участков
				.news__el-text Кадастровая съемка участка, Акт выбора земельных участков, Ситуационный план, Схема расположения земельного участка на кадастровой карте...

			.news__el
				.news__el-date 18 июля 2017
				.news__el-title ЦЕНЫ НА ЭЛИТНЫЕ НОВОСТРОЙКИ В МОСКВЕ УПАЛИ
				.news__el-text По итогам первого полугодия 2015 года долларовые цены на первичном рынке высокопремиального жилья Москвы показали рекордно низкий уровень за последние семь лет ...
			.news__el
				.news__el-date 22 авгутса 2017
				.news__el-title Межевание участков, постановка на учет
				.news__el-text Подготовка межевого плана и постановка на кадастровый учет. Уточнение границ, раздел, Объединение, выделение частей участков, межевание земель, придомовой территории....

+footer()

include ./block_html/_script.pug
