include block_html/_style.pug
include block_html/_include.pug

+header()

.lp-baner
	.lp-baner__img.lp-baner--contain(style="background-image:url('img/baner-9.png')")
	.main-cont
		.lp-baner__content
			.lp-baner__title Оформление <br> технического плана дома
			.lp-baner__title-sub Если границы Вашего земельного участка не установлены, либо установлены, но с точностью ниже нормативной – изготавливается межевой план по уточнению границ
			.header__get
				a(href="#why").header__btn.header__btn-more Подробнее
				.header__btn.header__btn-get.modal-get(data-modal="order") Заказать

//why you need this
.section.section--why.section--why-borderland#why(style="background-image:url('img/baner-10.png')")
	.main-cont
		.section-wrap
			.section-call
				.section-title.section-title--left Что это такое ?
				.box
					p Технический план дома – это подготовленный кадастровым инженером документ, на основании, которого сведения о Вашей постройке вносятся в Единый государственный реестр недвижимости (ЕГРН).
					p До 2017 года все постройки на садовых и дачных участках (в СНТ и ДНТ) можно было зарегистрировать по декларации. С 2017 для их регистрации в Ростреестре необходим технический план.
					p Технический план подается в Росреестр (можно через МФЦ). По итогам проверки Росреестром технического плана собственнику выдаётся выписка ЕГРН на здание, подтверждающая право собственности на постройку. С этого момента постройка считается официально зарегистрированной.

			//.section-call.section-call--img
					img(src="img/lp-4.jpg", alt="")

//from begin
.section.section--start(style="background-image:url('img/baner-11.png')")
	.main-cont
		.section-wrap
			.section-call.section-call--img
			.section-call
				.section-title.section-title--left Это нужно знать!
				.box
					p С 01.01.2017 г. владельцу земельного участка с незарегистрированной постройкой грозят штрафы в размере 20% от неуплаченной налоговой суммы. То есть, если в 2017 году инспекторы Федеральной налоговой службы обнаружат у Вас на участке незарегистрированные постройки (в т.ч. бани, гаражи, хозяйственные строения площадью свыше 50 кв.м), за которые не платятся налоги, то они вправе взыскать с Вас долги сразу за три последних года, дополнительно выписав штраф в размере 20% от неоплаченной суммы.
					p Также с 01.07.2017 года любая незарегистрированная постройка властями признается самовольной постройкой – «самострой» - и требует сноса.
					p.attanintion <b>ВАЖНО:</b> с 01.01.2018 г. невозможно будет провести регистрационные действия по купле-продаже, наследованию, дарению и т.д. в отношении неоформленных и незарегистрированных домов.
					p Если Вы решили построить жилой дом на земельном  участке с  видом разрешенного использования ИЖС (индивидуальное жилищное строительство) или  ЛПХ (личное подсобное хозяйство), то предварительно Вам необходимо получить разрешение на строительство.
					p.attanintion <b>ВАЖНО:</b> В связи с продлением дачной амнистии до 01.03.2020 г. получение разрешения на ввод постройки ИЖС и ЛПХ в эксплуатацию не требуется. Также не требуется получения разрешения на строительство домов, расположенные на землях под дачное строительство, садоводство и огородничество.

//need doc
.section.section--doc
	.main-cont
		.section-title Какие нужны документы?
		.section-title-sub Максимальный перечень необходимых документов
		.doc
			.doc__el
				.doc__icon
					+icon("attest","icon")
				.doc__title Свидетельство о праве собственности на земельный участок
				.doc__text Необходимо для подтверждения права собственности на земельный участок
			.doc__el
				.doc__icon
					+icon("doc","icon")
				.doc__title Разрешение на строительство
				.doc__text Необходимо для подтверждения соответствия проектной документации для домов на землях ИЖС, ЛПХ, а также для жилых домов на дачных участках
			.doc__el
				.doc__icon
					+icon("plan","icon")
				.doc__title Проектная документация на дом
				.doc__text Содержит текстовые и графические материалы и определяет архитектурные, функционально-технологические, конструктивные и инженерно-технические решения.
			.doc__el
				.doc__icon
					+icon("case","icon")
				.doc__title Паспортные данные собственника земельного участка
				.doc__text Пакет документов который необходим для подтверждения Вашей личности.

//step work
#step.section.section-step
	.section-filter
	.main-cont
		.section-title как мы работаем
		.step
			.step-row
				.step-el
					.step-content
						.step-numb 01
						.step-text
							.step-text__descr Отправляете нам заявку или звоните.Получаете бесплатную консультацию от кадастрового инженера.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 02
						.step-text
							.step-text__descr Направляете нам электронные копии Ваших документов или приезжаете с ними к нам в офис.
			.step-row
				.step-el
					.step-content
						.step-numb 03
						.step-text
							.step-text__descr Анализируем документы, готовим проект Договора, согласовываем с Вами дату и время приезда геодезистов для проведения измерений.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 04
						.step-text
							.step-text__descr В назначенное время геодезисты приезжают к Вам, передают Договор и производят измерения.

			.step-row
				.step-el
					.step-content
						.step-numb 05
						.step-text
							.step-text__descr Формируем технический план и согласовываем его с Вами.
					.step-line
						.step-dot

			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 06
						.step-text
							.step-text__descr Передаем Вам готовый технический план.
//contact-form
//.contact-form
	.section-title Оставьте свою заявку
	.section-title-sub Оформите обращение с помощью этой формы, мы перезвоним <br>Вам и проконсультируем по любому Вашему вопросу совершенно бесплатно!
	.main-cont
		form.validate-form( action="javascript:void(null);")
			.input-row
				input(type="text" name="name" placeholder="Ваше имя").input
			.input-row
				input(type="text" name="phone" placeholder="Ваш телефон").input
			//.input-row
				textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
			//.agree-row
				.check-el
					label.style-label.style-label--checkbox
						input(type="checkbox" name="agree").sytle-input
						.sytle-input-element
							+icon("checked","icon-check")
						.sytle-input-text=text
				.agree-row__text Согласен с
					a(href="#") условиями обработки персональных данных
			input(type="submit" value="Отправить заявку").modal-send

//price
.section.section--price
	.main-cont
		.section-title Стоимость наших работ
		.section-title-sub Работаем в Москве и во всех районах Московской области.
		.cost
			.cost__el
				.cost__el-img(style="background-image:url('img/house-size-1.png')")
				.cost__el-title Площадь дома
					span до 50 кв.м
				.cost__el-text (садовый дом, баня, гараж)
				.cost__el-price 10 000 руб.
				.service__btn.service__btn-get.modal-get(data-modal="order") Заказать
			.cost__el
				.cost__el-img(style="background-image:url('img/house-size-2.png')")
				.cost__el-title Площадь дома
					span от 51 до 100 кв.м
				.cost__el-text (дачный дом , жилое строение)
				.cost__el-price 14 000 руб.
				.service__btn.service__btn-get.modal-get(data-modal="order") Заказать
			.cost__el
				.cost__el-img(style="background-image:url('img/house-size-3.png')")
				.cost__el-title Площадь дома
					span от 101 до 200 кв.м
				.cost__el-text (жилой дом)
				.cost__el-price 20 000 руб.
				.service__btn.service__btn-get.modal-get(data-modal="order") Заказать
			.cost__el
				.cost__el-img(style="background-image:url('img/house-size-4.png')")
				.cost__el-title Площадь дома
					span от 201 кв.м
				.cost__el-text (коттедж)
				.cost__el-price 25 000 руб.
				.service__btn.service__btn-get.modal-get(data-modal="order") Заказать

		.get-sale-row
			.get-sale__btn.modal-get(data-modal="sale") Узнайте, как можно сэкономить!

		.cost-inform Указанные здесь цены являются окончательными и зависят только от площади объекта. Единственный платёж который Вам придётся уплатить, это гос. пошлина в размере 350 руб., взимаемая Росреестром при подаче технического плана.

//need doc
.section.section--doc
	.main-cont
		.section-title Что войдет в стоимость работ ?
		.section-title-sub Все выполняемые нами работы.
		.doc
			.doc__el
				.doc__icon
					+icon("house-plan-scale","icon")
				.doc__title Обмеры внешнего контура здания
				.doc__text Позволяют определить фактические габариты зданий и сооружений
			.doc__el
				.doc__icon
					+icon("protractor","icon")
				.doc__title Внутренние обмеры <br> здания
				.doc__text Необходимы для создания планов помещений.
			.doc__el
				.doc__icon
					+icon("house-plans","icon")
				.doc__title Формирование поэтажных планов
				.doc__text Документ который отображает основные элементы конструкций одного уровня здания.
			.doc__el
				.doc__icon
					+icon("planning","icon")
				.doc__title Формирование технического плана
				.doc__text Необходим для государственного кадастрового учета здания.

//service
//.section.section--calc
	.main-cont
		.section-title Выберите площадь дома
		.section-title-sub Подача в Росреестр – плюс 3 000 руб. к стоимости работ.
		.calc
			input(type="range" placeholder=""  class="calc-range")
			.calc-range__wrap
				.calc-range-val
					.calc-range-numb 10 000
					.calc-range-pay руб
			.calc-text Цена услуги

//service
//.section.section--service
	.main-cont
		.section-title Популярные услуги
		.section-title-sub уточнение, исправление реестровой ошибки, объединение, раздел, перераспределение, образование земельных участков
		.service
			- for (var i=0;i<6;i++)
				.service__el
					.service__title Уточнение границ земельного участка
					.service__text Если границы Вашего земельного участка не установлены, либо установлены, но с точностью ниже нормативной – изготавливается межевой план по уточнению границ и (или) площади земельного участка.
					.service__price 18 000 руб.
					.service__get
						.service__btn.service__btn-more Подробнее
						.service__btn.service__btn-get.modal-get(data-modal="order") Заказать

//slider certificate
.section.section--certificate
	.filter
	.section-title Наши сертификаты
	.main-cont
		.slider-certificate.owl-carousel
			- for (var i=1;i<11;i++)
				.slider__el
					a(href="img/cert-" + i + ".jpg" rel="group-elemen").fancybox
						img(src="img/cert-" + i + ".jpg", alt="")

+footer()

include ./block_html/_script.pug
