include block_html/_style.pug
include block_html/_include.pug

+header()
//banner
.lp-baner.lp-baner--borderland.lp-baner--dark
	.lp-baner__img.lp-baner__img--right-left(style="background-image:url('img/remove/remove-1.jpg')")
	.lp-baner-filter--green
	.main-cont
		.lp-baner__wrap
			.lp-baner__content
				.lp-baner__title.lp-baner__title--fat Уведомление о планируемом сносе объекта капитального строительства
				.lp-baner__title-sub.lp-baner__title-sub--mark Оформите процедуру снятия с кадастрового учета и прекращения зарегистрированного права на принадлежащее Вам здание.
				.header__get
					a(href="#why").header__btn.header__btn-more Подробнее
					.header__btn.header__btn-get.modal-get(data-modal="order") Заказать

//Что это такое
#why.section.section--why.section--union.section--mobile(style="background-image:url('img/remove/remove-3.jpg')")
	.main-cont
		.section-wrap
			.section-call.section-call--mid
				.text-block
					.section-title.section-title--left Что это такое?
					.box
						p Уведомление о планируемом сносе объекта капитального строительства является основным документом, подтверждающим Ваше право на снос принадлежащего Вам здания.
						p Уведомление о планируемом сносе объекта капитального строительства является основным документом, подтверждающим Ваше право на снос принадлежащего Вам здания.


//Зачем это нужно?
.section.section--doc.section--fill(style="background-image:url('img/igs/concrete-texture.png')")
	.main-cont-sm
		.text-block.text-block--seal
			.seal
				img(src="img/seal.png", alt="")
			.section-title На каких основаниях это делается?
			p С вступлением поправок в Градостроительный кодекс РФ (Федеральный закон №340-ФЗ от 03.08.2018), с 03.08.2018 года всем, кто планирует осуществление сноса капитального строения, в обязательном порядке необходимо получать уведомление о планируемом сносе такого объекта.
			p.lp-baner__title-sub--mark <strong>Важно:</strong> Не требуется получение уведомления о сносе на капитальные объекты вспомогательного пользования, расположенные в пределах участков ИЖС и садоводства (гараж, баня, хоз.блок, летняя кухня, беседка, сарай).
			p Форма уведомления о планируемом сносе объекта капитального строительства официально утверждена Приказом Министерства строительства и жилищно-коммунального хозяйства РФ №34/пр от 24.01.2019 г.

			p Для получения уведомления о сносе необходимо также подготовить проект организации работ по сносу объекта капитального строительства, который осуществляется специалистом по организации архитектурно-строительного проектирования, сведения о котором включены в национальный реестр специалистов в области архитектурно-строительного проектирования (Постановление Правительства РФ от 26.04.2019 № 509 «Об утверждении требований к составу и содержанию проекта организации работ по сносу объекта капитального строительства»).
			.lp-baner__title-sub--mark
				p <strong>Важно:</strong> Подготовка проекта организации работ по сносу не требуется:
				ul
					li в отношении жилых домов, расположенных в пределах участков ИЖС и участков под садоводство,
					li в отношении гаражей на земельном участке, предоставленном физическому лицу для целей, не связанных с осуществлением предпринимательской деятельности,
					li в отношении капитальных объектов вспомогательного пользования, расположенных в пределах участков ИЖС и садоводства (гараж, баня, хоз.блок, летняя кухня, беседка, сарай),
					li при сносе объекта капитального строительства в целях строительства нового объекта капитального строительства либо реконструкции (ч.8 ст.55.30 ГрК РФ). В этом случае снос осуществляется в соответствии с проектной документацией на строительство (реконструкцию).
			<br>
			p Снос объекта капитального строительства проводят после отключения объекта капитального строительства от сетей инженерно-технического обеспечения согласно условиям отключения объекта капитального строительства от сетей инженерно-технического обеспечения, выданными эксплуатирующими организациями.


//Зачем это нужно
.section.section--start.section--survey(style="background-image:url('img/exception/exception-10.jpg')")
	.main-cont
		.section-wrap
			.section-call.section-call--img
			.section-call
				.text-block
					.section-title.section-title--left как подать уведомление?
					.box
						ul
							li
								a(href="https://www.mos.ru/upload/photobank/common/upload/28.11.2014_64-02-1613_14_Sobyanin_S.S._Apparat_Mera_i_Pravitelstva_Moskvy_be27349ab0338e2baf2b67b468f1c55b.pdf " target="_blank") Постановление Правительства Москвы от 28.11.2014 №700-ПП
							li
								a(href="https://www.mos.ru/upload/documents/docs/1574-PP.pdf" target="_blank") Постановление Правительства Москвы № 1574-ПП от 26.11.2019 (на 2020 год)
							br
					.section-title.section-title--left как возможно оспорить?
					.box
						p Мы занимаемся данным направлением с 2016 года и имеем колоссальную положительную практику оспаривания нормативных актов Правительства Москвы. Ранее процедура оспаривания включала подачу искового заявления в Московский городской суд и апелляцию в Верховном суде РФ, с октября 2019 года апелляционные жалобы рассматриваются в Первом апелляционном суде общей юрисдикции. Примеры полученных нами решений:
						ul
							li
								a(href="http://vsrf.ru/stor_pdf.php?id=1548614 " target="_blank") Определение Верховного суда РФ (2017)
							li
								a(href="http://vsrf.ru/stor_pdf.php?id=1719808" target="_blank") Определение Верховного суда РФ (2018)
							li
								a(href="http://vsrf.ru/stor_pdf.php?id=1738070" target="_blank") Определение Верховного суда РФ (2019)
							li
								a(href="https://1ap.sudrf.ru/modules.php?name=sud_delo&srv_num=1&name_op=doc&number=193764&delo_id=5&new=5&text_number=1 " target="_blank") Определение Первого апелляционного суда общей юрисдикции (пример 2020)

//service
.section.section--calc.section--calc--topograf
	.main-cont
		.section-title Стоимость наших работ
		.section-title-sub Работаем в Москве и во всех районах Московской области.
		.calc
			.calc-range__wrap
				.calc-range-val.calc-range-val--lg
					span от
					.calc-range-numb 10 000
					span руб
			.calc-text Стандартный срок от 10 рабочих дней
		.calc-ur-cont
			.calc-ur-pay
				.calc-ur-pay-cont
					.calc-ur-pay-text Стоимость и сроки работ зависят от количества необходимых согласований.

//Что войдет в стоимость
.section.section--doc.section--clear-bottom
	.main-cont
		.section-title Что войдет в стоимость работ ?
		.section-title-sub
		//.section-title-sub Геодезические обмеры земельного участка.
		.doc.doc--line
			.doc__el.doc__el--line
				.doc__icon
					+icon("law","icon")
				.doc__content
					.doc__title Заказ сведений ЕГРН.
					.doc__text Для анализа сведений об объекте.
			.doc__el.doc__el--line
				.doc__icon
					+icon("case","icon")
				.doc__content
					.doc__title Подача уведомления о планируемом сносе объекта капитального строительства.

//Документы
.section.section--doc
	.main-cont
		.section-title Какие нужны документы?
		.section-title-sub Максимальный перечень необходимых документов
		.doc.doc--left.doc--three
			.doc__el
				.doc__icon
					+icon("attest","icon")
				.doc__title Паспортные данные заинтересованного лица (СНИЛС) или реквизиты компании.
				.doc__text Документы, необходимые для подтверждения Вашей личности
			.doc__el
				.doc__icon
					+icon("plan","icon")
				.doc__title Проект организации работ по сносу объекта капитального строительства.
				.doc__text Для определения порядка выполнения работ по демонтажу здания.
			.doc__el
				.doc__icon
					+icon("agreement","icon")
				.doc__title Нотариально заверенная доверенность на нашего представителя (форму Вам выдаст наш кадастровый инженер).
				.doc__text Для предоставления Ваших интересов.

//Как мы работаем
#step.section.section-step
	.section-filter
	.main-cont
		.section-title как мы работаем
		.step
			.step-row
				.step-el
					.step-content
						.step-numb 01
						.step-text
							.step-text__descr Отправляете нам заявку или звоните. Получаете бесплатную консультацию от кадастрового инженера.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 02
						.step-text
							.step-text__descr Направляете нам электронные копии Ваших документов или приезжаете с ними к нам в офис.
			.step-row
				.step-el
					.step-content
						.step-numb 03
						.step-text
							.step-text__descr 3.	Анализируем документы, готовим проект договора.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 04
						.step-text
							.step-text__descr Подаём уведомление о планируемом сносе объекта капитального строительства.
			.step-row
				.step-el
					.step-content
						.step-numb 05
						.step-text
							.step-text__descr Получаем информационное письмо о направлении уведомления о планируемом сносе для размещения в информационной системе обеспечения градостроительной деятельности.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 06
						.step-text
							.step-text__descr Подаём уведомление о завершении сноса объекта капитального строительства
			.step-row
				.step-el
					.step-content
						.step-numb 07
						.step-text
							.step-text__descr Получаем информационное письмо о направлении уведомления о завершении сноса объекта капитального строительства для размещения в информационной системе обеспечения градостроительной деятельности.
					.step-line
						.step-dot
+footer()
include ./block_html/_script.pug
