include block_html/_style.pug
include block_html/_include.pug

+header()


//banner
.lp-baner.lp-baner--borderland.lp-baner__mobile
	.lp-baner__img.lp-baner--cover(style="background-image:url('img/zone/zone-1.jpg')")
	.lp-baner-filter--dark
	.main-cont
		.lp-baner__wrap
			.lp-baner__content
				.lp-baner__title.lp-baner__title--fat Карта (план) санитарно-защитной зоны
				.lp-baner__title-sub Закажите план санитарно-защитной зоны по всем правилам! Работаем по всей Москве и Московской области.
				.header__get
					a(href="#why").header__btn.header__btn-more Подробнее
					.header__btn.header__btn-get.modal-get(data-modal="order") Заказать

//Что это такое
#why.section.section--why.section--union.section--mobile(style="background-image:url('img/zone/zone-2.jpg')")
	.main-cont
		.section-wrap
			.section-call.section-call--mid
				.text-block
					.section-title.section-title--left Что это такое?
					.box
						p Карта (план) санитарно-защитной зоны представляет собой подготовленный кадастровым инженером документ, содержащий в себе графическое и текстовое описание местоположения и размеров границ санитарно-защитной зоны на местности. По итогам проверки Росреестром карты (плана) сведения о санитарно-защитной зоне вносятся в Единый государственный реестр недвижимости (ЕГРН), и с этого момента санитарно-защитная зона считается официально зарегистрированной.

//Зачем это нужно?
.section.section--text(style="background-image:url('img/baner-15.png')")
	.main-cont-sm
		.section-title Зачем это нужно?
		.text-block
			p Санитарно-защитная зона (СЗЗ) – это разновидность зоны с особыми условиями использования территорий, которая устанавливается в отношении действующего, планируемого к строительству, реконструируемого объекта капитального строительства, являющегося источником химического, физического, биологического воздействия на среду обитания человека, превышающего санитарно-эпидемиологические требования (Постановление Правительства РФ №222 от 03.03.2018 "Об утверждении Правил установления санитарно-защитных зон и использования земельных участков, расположенных в границах санитарно-защитных зон").
			p Внесение в ЕГРН сведений о санитарно-защитной зоне позволит понять где проходит граница «защитного барьера», обеспечивающего уровень безопасности населения при эксплуатации предприятия. В границах установленной санитарно-защитной зоны

		.list-wrap
			.list-el
				.list-el-head
					.list-el-icon
						+icon("interface","icon")
					.list-el__title В границах установленной санитарно-защитной зоны ДОПУСКАЕТСЯ размещение:
				ul
					li административных зданий;
					li научно-исследовательских лабораторий;
					li закрытых спортивно-оздоровительных сооружений;
					li поликлиник;
					li бань, прачечных;
					li объектов торговли и общественного питания;
					li гостиниц;
					li гаражей, стоянок автотранспорта;
					li пожарных депо;
					li сооружений для подготовки технической воды;
					li автозаправочных станций;
					li станций тех обслуживания автомобилей;
					li ЛЭП, а также иных подземных и наземных коммуникаций.
			.list-el
				.list-el-head
					.list-el-icon.list-el-icon--false
						+icon("cancel","icon")
					.list-el__title В границах установленной санитарно-защитной зоны ЗАПРЕЩАЕТСЯ создание таких объектов, как:
				ul
					li  объекты ИЖС;
					li  коттеджная застройка, садоводческие товарищества;
					li  садово-огородные участки;
					li  открытые спортивные сооружения;
					li  детские образовательные учреждения, организации детского отдыха и оздоровления;
					li  лечебно-профилактические и оздоровительные учреждения общего пользования;
					li  объекты по производству лекарственных веществ, склады фармацевтических продуктов;
					li  объекты, связанные с использованием питьевой воды, если установление СЗЗ приведет к нарушению ее безопасности и качества;
					li  объекты, связанные с использованием и хранением пищевой и сельхоз продукции, если установление СЗЗ приведет к нарушению качества и безопасности такой продукции.

//Зачем это нужно
.section.section--start.section--survey(style="background-image:url('img/zone/zone-3.jpg')")
	.main-cont
		.section-wrap
			.section-call.section-call--img
			.section-call

				.section-title.section-title--left На каких основаниях это делается?
				.box
					p Размер и границы санитарно-защитной зоны устанавливаются проектной документацией, которая подлежит разработке специализированными проектными организациями, имеющими соответствующие лицензии.
					p Согласно СанПиН 2.2.1/2.1.1.1200-03 «Санитарно-защитные зоны и санитарная классификация предприятий, сооружений и иных объектов» в проекте санитарно-защитной зоны должны быть определены:
					ul
						li  размер и границы санитарно-защитной зоны;
						li  мероприятия по защите населения от воздействия выбросов вредных химических примесей в атмосферный воздух и физического воздействия;
						li  функциональное зонирование территории санитарно-защитной зоны и режим ее использования.
					p Карта (план) санитарно-защитной зоны подготавливается на основании предоставленной заказчиком проектной документацией на установление санитарно-защитной зоны.
					p Далее поэтапно осуществляются следующие действия:
					ol
						li Проект вместе с подготовленной кадастровым инженером картой (планом) передается заказчиком во ФБУЗ «Центр гигиены и эпидемиологии», который по результатам положительной проверки выпускает Экспертное заключение о соответствии государственным санитарно-эпидемиологическим правилам и нормам и Санитарно-эпидемиологическое заключение.
						li Карта (план) подается на утверждение в Роспотребнадзор, который по результатам положительной проверки выпускает Распоряжение об утверждении санитарно-защитной зоны, которое устанавливает границы и режим санитарно-защитной зоны.
						li В порядке информационного обмена из Роспотребнадзора карта (план) передается в Росреестр для внесения в ЕГРН сведений о санитарно-защитной зоне.

//service
.section.section--calc.section--calc--topograf
	.main-cont
		.section-title Стоимость наших работ
		.section-title-sub Работаем в Москве и во всех районах Московской области.
		.calc
			.calc-range__wrap
				.calc-range-val.calc-range-val--lg
					span от
					.calc-range-numb 20 000
					span руб
			.calc-text Цена за один объект. Время исполнения 10 раб. дней
		.calc-ur-cont
			.calc-ur-pay
				.calc-ur-pay-cont
					.calc-ur-pay-text.type--center Стоимость и сроки работ зависят от площади санитарно-защитной зоны.

//Что войдет в стоимость
.section.section--doc.section--clear-bottom
	.main-cont
		.section-title Что войдет в стоимость работ ?
		.section-title-sub
		//.section-title-sub Геодезические обмеры земельного участка.
		.doc.doc--line
			.doc__el.doc__el--line
				.doc__icon
					+icon("idea","icon")
				.doc__content
					.doc__title Заказ сведений егрн.
					.doc__text Для анализа сведений об объекте.
			.doc__el.doc__el--line
				.doc__icon
					+icon("information","icon")
				.doc__content
					.doc__title Анализ проекта на установление санитарно-защитной зоны.
			.doc__el.doc__el--line
				.doc__icon
					+icon("compass","icon")
				.doc__content
					.doc__title Формирование карты (плана) санитарно-защитной зоны.

//Документы
.section.section--doc
	.main-cont
		.section-title Какие нужны документы?
		.doc.doc--line
			.doc__el.doc__el--line
				.doc__icon
					+icon("design","icon")
				.doc__content
					.doc__title Реквизиты компании.
					.doc__text Для составления договора с Вами.
			.doc__el.doc__el--line
				.doc__icon
					+icon("planning","icon")
				.doc__content
					.doc__title Проект на установление санитарно-защитной зоны.
					.doc__text Для определения параметров санитарно-защитной зоны.



//Как мы работаем
#step.section.section-step
	.section-filter
	.main-cont
		.section-title как мы работаем
		.step
			.step-row
				.step-el
					.step-content
						.step-numb 01
						.step-text
							.step-text__descr Отправляете нам заявку или звоните. Получаете бесплатную консультацию от кадастрового инженера.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 02
						.step-text
							.step-text__descr Направляете нам электронные копии Ваших документов или приезжаете с ними к нам в офис.
			.step-row
				.step-el
					.step-content
						.step-numb 03
						.step-text
							.step-text__descr Анализируем документы, готовим проект Договора,
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 04
						.step-text
							.step-text__descr Формируем карту (план) санитарно-защитной зоны.
			.step-row
				.step-el
					.step-content
						.step-numb 05
						.step-text
							.step-text__descr Передаём Вам готовую карту (план) санитарно-защитной зоны.
					.step-line
						.step-dot


+footer()
include ./block_html/_script.pug
