include block_html/_style.pug
include block_html/_include.pug

+header()
.main-cont
	.bread-wrap
		.bread
			a(href="#").bread__el Пункт 1
			a(href="#").bread__el Пункт 2

//content
.main-cont
	.content
		.content__toolbar
			.search
				form( action="javascript:void(null);")
					input(type="text" name="name" placeholder="Ваш запрос").input.input--search
					button(type="submit").button--search
						+icon("magnifying-glass","icon")

			.toolbar
				.toolbar__title Популярные услгуи
				-
					var items = [
						'Уточнение земельного участка',
						'Межевой план',
						'Топографическая съемка',
						'Исполнительная съемка',
						'Раздел земельного участка',
						'Уточнение местоположения границ и/или площади земельного участка',
						'Геодезическое сопровождение строительства',
						'Технический план',
						'Кадастровые работы по Москве'
						];
				each item in items
					a(href="#").toolbar__el #{item}
			.toolbar
				.toolbar__title Нормативная документация
				-
					var items = [
					'Геодезическая деятельность',
					'Кадастровая деятельность'
					];
				each item in items
					a(href="#").toolbar__el #{item}

			//.toolbar
				.toolbar__title Нормативная документация
				-
					var items = [
					'Пример кадастрового паспорта квартиры',
					'Образец межевого плана земельного участка',
					'Обязательно ли делать межевание земельного участка'
					];
				each item in items
					a(href="#").toolbar__el #{item}


		.content__info
			h1 Уточнение местоположения границ и/или площади земельного участка
			p Межеванием является комплекс работ по установлению на местности границ муниципальных образований и других административно-территориальных образований, границ земельных участков с закреплением  таких  границ межевыми знаками и определению  их координат. Межевание земель, как комплекс работ, включает в себя землеустройство, геодезию и кадастровые работы.

			p Согласно законопроекту «Об определении точных границ земельных участков и местоположения зданий, сооружений, объектов незавершенного строительства и о внесении изменений в некоторые законодательные акты РФ» <strong>с </strong><strong>01.01.2018 г. запрещается любое распоряжение (согласование распоряжения) земельными участками, в отношении которых в государственном кадастре недвижимости отсутствуют сведения о местоположении границ, установленных в соответствии с законодательством РФ</strong>. Данный законопроект был разработан для выполнения плана мероприятий («дорожной карты») «Повышение качества государственных услуг в сфере государственного кадастрового учета недвижимого имущества и государственной регистрации прав на недвижимое имущество и сделок с ним», утвержденной Распоряжением Правительства РФ № 2236-р от 01.12.2012 г.


			p Потребность в проведении кадастровых работ по уточнению границ земельного участка объясняется тем, что большая часть сведений о границах земельных участков внесена в Государственный кадастр недвижимости без установления таких границ на местности, а именно -  по сведениям, содержащимся в правоустанавливающих документах на земельный участок. Если же все-таки производились какие-либо геодезические измерения, то они не имели высокую точность.

			p Именно поэтому в настоящее время по всей территории РФ огромное количество участков имеет пересечения друг с другом, тем самым вызывая споры и недовольства у собственников таких земельных участков. Процедура уточнения производится с целью устранения таких пересечений границ. Кроме того, уточнение необходимо проводить для внесения сведений об изменении границ и площади земельного участка в базу государственного кадастра недвижимости.

			strong Уточнение границ земельного участка необходимо производить в следующих случаях:
			ul
				li если фактическое местоположение границ или конфигурация земельного участка (части земельного участка) не соответствуют сведениям, содержащимся в государственном кадастре недвижимости,
				li если фактическая площадь земельного участка (части земельного участка) не соответствует площади, сведения о которой содержатся в государственном кадастре недвижимости,
				li если имеет место реестровая (кадастровая) ошибка.
				li если земельный участок является ранее учтенным и на него имеются все правоустанавливающие документы, но сведения о границах земельного участка отсутствуют в Государственном кадастре недвижимости

			p Уточнение местоположения границ и/или площади земельного участка осуществляется путем формирования межевого плана и подачи такого межевого плана в орган государственной регистрации. Межевой план подготавливается кадастровым инженером в форме электронного документа в формате XML, заверенного усиленной квалифицированной электронной подписью кадастрового инженера, подготовившего такой план, и оформляется в виде файлов в формате XML, созданных с использованием XML-схем и обеспечивающих считывание и контроль представленных данных.

			p При проведении процедуры уточнения границ земельного участка обязательным к включению в состав межевого плана является акт согласования местоположения границ земельных участков. Местоположение границ уточняемого земельного участка считается согласованным при наличии в акте согласования личных подписей правообладателей смежных (соседних) земельных участков, либо их законных представителей.

			p Сведения о местоположении границ земельного участка в межевом плане указываются на основании геодезических обмеров, в ходе которых определяются координаты характерных точек границ такого земельного участка.

			p Если Вам необходимо произвести уточнение границ Вашего земельного участка, либо уточнить площадь земельного участка, позвоните нам, и мы дадим Вам полную консультацию, а также произведем все необходимые для этого работы по разумным ценам и в разумные сроки.

//contact-form
.contact-form
	.section-title Оставьте свою заявку
	.section-title-sub Оформите обращение с помощью этой формы, мы перезвоним <br>Вам и проконсультируем по любому Вашему вопросу совершенно бесплатно!
	.main-cont
		form.validate-form( action="javascript:void(null);")
			.input-row
				input(type="text" name="name" placeholder="Ваше имя").input
			.input-row
				input(type="text" name="phone" placeholder="Ваш телефон").input
			//.input-row
				textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
			//.agree-row
				.check-el
					label.style-label.style-label--checkbox
						input(type="checkbox" name="agree").sytle-input
						.sytle-input-element
							+icon("checked","icon-check")
						.sytle-input-text=text
				.agree-row__text Согласен с
					a(href="#") условиями обработки персональных данных
			input(type="submit" value="Отправить заявку").modal-send

//news
.section.section--news.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.section-title Новости
	.main-cont
		.news
			.news__el
				.news__el-date 18 июля 2017
				.news__el-title ЦЕНЫ НА ЭЛИТНЫЕ НОВОСТРОЙКИ В МОСКВЕ УПАЛИ
				.news__el-text По итогам первого полугодия 2015 года долларовые цены на первичном рынке высокопремиального жилья Москвы показали рекордно низкий уровень за последние семь лет ...
			.news__el
				.news__el-date 22 авгутса 2017
				.news__el-title Межевание участков, постановка на учет
				.news__el-text Подготовка межевого плана и постановка на кадастровый учет. Уточнение границ, раздел, Объединение, выделение частей участков, межевание земель, придомовой территории....

			.news__el
				.news__el-date 19 сентября 2014
				.news__el-title Подготовка технических планов
				.news__el-text Технический план квартиры, дома, помещения, сооружения, гаража, объекта незавершенного строительства. Технический план для ввода объекта в эксплуатацию. Акт обследования. Заключение кадастрового инженера...

			.news__el
				.news__el-date 03 апреля 2014
				.news__el-title Кадастровая съемка участков
				.news__el-text Кадастровая съемка участка, Акт выбора земельных участков, Ситуационный план, Схема расположения земельного участка на кадастровой карте...

			.news__el
				.news__el-date 18 июля 2017
				.news__el-title ЦЕНЫ НА ЭЛИТНЫЕ НОВОСТРОЙКИ В МОСКВЕ УПАЛИ
				.news__el-text По итогам первого полугодия 2015 года долларовые цены на первичном рынке высокопремиального жилья Москвы показали рекордно низкий уровень за последние семь лет ...
			.news__el
				.news__el-date 22 авгутса 2017
				.news__el-title Межевание участков, постановка на учет
				.news__el-text Подготовка межевого плана и постановка на кадастровый учет. Уточнение границ, раздел, Объединение, выделение частей участков, межевание земель, придомовой территории....


//slider certificate
.section.section--certificate.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.filter
	.section-title Наши сертификаты
	.main-cont
		.slider-certificate.owl-carousel
			- for (var i=1;i<11;i++)
				.slider__el
					a(href="img/cert-" + i + ".jpg" rel="group-elemen").fancybox
						img(src="img/cert-" + i + ".jpg", alt="")

+footer()

include ./block_html/_script.pug
