include block_html/_style.pug
include block_html/_include.pug

+header()
.personal-content
	.main-cont
		.personal-full
			.personal-full__img(style="background-image:url('img/personal.jpg')")
			.personal-full__el-info
				.personal-full__el-title Мурагина Елизавета Васильевна
				.personal-full__el-position Генеральный директор ООО «ЦГиКУ»
				.personal-full__el-text
					p Стаж работы по специальности – с 2008 года
					p В 2010 году окончила Московский государственный университет геодезии и картографии (МИИГАиК) с присвоением квалификации «Инженер по специальности Городской кадастр».
					p В 2010 году прошла профессиональную переподготовку в Московском государственном университете геодезии и картографии (МИИГАиК) по программе «Оценка стоимости предприятия (бизнеса)».
					p В 2010 году получила квалификационный аттестат кадастрового инженера. Идентификационный номер квалификационного аттестата 50-10-140.
					p В 2016 году проходила повышение квалификации по направлению «Инженерные изыскания для подготовки проектной документации, строительства, реконструкции объектов капитального строительства (инженерно-геодезические изыскания)». 01.08.2016 года включена в реестр Ассоциации «Саморегулируемая организация кадастровых инженеров» за регистрационным № 8162.
					p В 2018 году проходила повышение квалификации по дополнительной профессиональной программе «Актуальные вопросы законодательства в области кадастровой деятельности».


+footer()

include ./block_html/_script.pug
