include block_html/_style.pug
include block_html/_include.pug

+header()

//banner
.lp-baner.lp-baner--borderland.lp-baner__mobile
	.lp-baner__img.lp-baner--cover(style="background-image:url('img/baner-26.jpg')")
	.lp-baner-filter--dark
	.main-cont
		.lp-baner__wrap
			.lp-baner__content
				.lp-baner__title.lp-baner__title--fat Объединение земельных участков
				.lp-baner__title-sub Выполнение работ как на частных земельных участках (для физических лиц), так и на участках большой площади (для юридических лиц).
				.header__get
					a(href="#why").header__btn.header__btn-more Подробнее
					.header__btn.header__btn-get.modal-get(data-modal="order") Заказать



//Что это такое
#why.section.section--why.section--contain.section--mobile(style="background-image:url('img/baner-27.jpg')")
	.main-cont
		.section-wrap
			.section-call.section-call--mid
				.section-title.section-title--left Что это такое ?
				.box
					p Объединение земельных участков – это кадастровые работы по образованию одного нового земельного участка путем объединения нескольких исходных земельных участков, которые в итоге прекращают свое существование. В результате объединения земельных участков у собственника возникает право собственности на образуемый земельный участок.
					p В ходе выполнения работ кадастровым инженером подготавливается межевой план, который подается в Росреестр. Результатом работ является занесение сведений о вновь образованном земельном участке в Единый государственный реестр недвижимости (ЕГРН).


//Зачем это нужно
.section.section--start.section--survey(style="background-image:url('img/baner-28.jpg')")
	.main-cont
		.section-wrap
			.section-call.section-call--img
			.section-call
				.section-title.section-title--left Зачем это нужно ?
				.box
					p Объединение земельных участков нужно, когда собственник хочет продать имеющиеся у него смежные земельные участки, так как по одному земельные участки продать сложнее, нежели чем сразу продавать один общий участок.
					p Также зачастую люди объединяют свои земельные участки для упрощения различных кадастровых и регистрационных процедур.
					p Некоторые собственники объединяют свои смежные участки, чтобы в дальнейшем избежать трудностей в получении разрешения на строительство для постройки жилого дома.

					p.attanintion ! ВАЖНО: земельные участки могут быть объединены только при условии того, что такие участки имеют общие границы и их границы уже уточнены (то есть имеются на публичной кадастровой карте). Также процедура объединения НЕДОПУСТИМА, если участки имеют различие между собой по категории земель и виду разрешенного использования. Кроме того, на объединяемые земельные участки должно быть зарегистрировано право собственности одного или нескольких человек.

					p Необходимо учитывать, что образуемый земельный участок не должен быть меньше или превышать предельно допустимых минимальных или максимальных размеров, установленных в Вашем районе Органом местного самоуправления.



//Цены
.section.section--price
	.main-cont
		.section-title Стоимость наших работ
		.section-title-sub Работаем в Москве и во всех районах Московской области.
		.cost.cost--two
			.cost__el
				.cost__el-img(style="background-image:url('img/survey-pay-3.jpg')")
				.cost__el-title Площадь участка
					span до 2000 кв.м.
				.cost__el-text.cost__el-text--mark 10 раб. дней
				.cost__el-text зависит от площади и местоположения
				.cost__el-price 10 000 руб.
				.service__btn.service__btn-get.modal-get(data-modal="order") Заказать
			.cost__el
				.cost__el-img(style="background-image:url('img/survey-pay-2.jpg')")
				.cost__el-title Площадь участка
					span более 2000 кв.м.
				.cost__el-text.cost__el-text--mark Индивидуально
				.cost__el-text Индивидуально
				.cost__el-price от 10 000 руб.
				.service__btn.service__btn-get.modal-get(data-modal="order") Заказать
		.calc-ur-cont.calc-ur-cont--mark
			.calc-ur-pay
				.calc-ur-pay-cont
					.calc-ur-pay-text Указанные здесь цены зависят только от площади объединяемых участков. После передачи Вам готового межевого плана при его подаче в Росреестр будет взиматься гос. пошлина в размере 2000 руб.
				.cost-inform--calc Если Вы не хотите тратить свое время на подачу и получение документов из Росреестра, мы выполним это за Вас. Такая услуга «под ключ» будет стоить 5000 руб. В этом случае от Вас дополнительно потребуется нотариальная доверенность (форму доверенности Вам предоставит наш кадастровый инженер).

//Что войдет в стоимость
.section.section--doc
	.main-cont
		.section-title Что войдет в стоимость работ ?
		.section-title-sub
		//.section-title-sub Геодезические обмеры земельного участка.
		.doc.doc--three
			.doc__el
				.doc__icon
					+icon("field-place","icon")
				.doc__title Полевые работы
				.doc__text Производится кадастровая съемка на земельном участке
			.doc__el
				.doc__icon
					+icon("case","icon")
				.doc__title Заказ сведений ЕГРН
				.doc__text Для анализа местоположения границ соседних земельных участков относительно Вашего участка.
			.doc__el
				.doc__icon
					+icon("save-disk","icon")
				.doc__title Формирование межевого плана на электронном цифровом носителе (диск)
				.doc__text Межевой план, заверенный усиленной  электронной подписью кадастрового инженера, необходим для внесения в ЕГРН сведений о местоположении границ земельного участка.

//Документы
.section.section--doc
	.main-cont
		.section-title Какие нужны документы?
		.section-title-sub Максимальный перечень необходимых документов
		.doc.doc--three
			.doc__el
				.doc__icon
					+icon("case","icon")
				.doc__title Свидетельства о праве собственности на земельные участки (выписки ЕГРН).
				.doc__text Необходимы для подтверждения права собственности на земельные участки
			.doc__el
				.doc__icon
					+icon("doc","icon")
				.doc__title Паспортные данные заказчика или реквизиты компании
				.doc__text Необходимые для подтверждения Вашей личности
			.doc__el
				.doc__icon
					+icon("hand","icon")
				.doc__title Письменное согласие собственника земельного участка
				.doc__text Для производства объединения участков.В согласии обязательно указывается площадь образуемого участка.

//Как мы работаем
#step.section.section-step
	.section-filter
	.main-cont
		.section-title как мы работаем
		.step
			.step-row
				.step-el
					.step-content
						.step-numb 01
						.step-text
							.step-text__descr Отправляете нам заявку или звоните. Получаете бесплатную консультацию от кадастрового инженера.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 02
						.step-text
							.step-text__descr Направляете нам электронные копии Ваших документов или приезжаете с ними к нам в офис.
			.step-row
				.step-el
					.step-content
						.step-numb 03
						.step-text
							.step-text__descr Анализируем документы, готовим проект Договора, согласовываем его с Вами
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 04
						.step-text
							.step-text__descr Составляем согласие собственника земельных участков на производство объединения.
			.step-row
				.step-el
					.step-content
						.step-numb 05
						.step-text
							.step-text__descr Формируем межевой план.
					.step-line
						.step-dot
			.step-row.step-row--right
				.step-el
					.step-line
						.step-dot
					.step-content
						.step-numb 06
						.step-text
							.step-text__descr Передаем Вам готовый межевой план.
//slider certificate
.section.section--certificate.wow.fadeIn(data-wow-duration="2s" data-wow-delay=".75s")
	.filter
	.section-title Наши сертификаты
	.main-cont
		.slider-certificate.owl-carousel
			- for (var i=1;i<11;i++)
			.slider__el
				a(href="img/cert-" + i + ".jpg" rel="group-elemen").fancybox
					img(src="img/cert-" + i + ".jpg", alt="")

+footer()
include ./block_html/_script.pug
