mixin footer()
	//block footer
	//.section.section--footer
		.main-cont
			.section-title Оформите заказ
			.section-title-sub Прием в офисе с понедельника по пятницу с 9:00 до 20:00, суббота: по предварительной записи, выходной: воскресенье.
			.footer__wrap
				.footer__el
					.footer__icon
						+icon("map","icon")
					.footer__title В офисе
					.footer__text г. Москва, 1-ый Варшавский проезд, д.1А, строен.9, офис 2.6
				.footer__el
					.footer__icon
						+icon("phone-call","icon")
					.footer__title По телефону
					a(href="tel:+7 (495) 514-84-13").footer__text.footer__text--red +7 (495) 514-84-13
					a(href="tel:+7 (495) 283-96-83").footer__text.footer__text--red +7 (495) 283-96-83
				.footer__el
					.footer__icon
						+icon("mail","icon")
					.footer__title По email
					a(href="mailto:info@cgiku.ru").footer__text.footer__text--red info@cgiku.ru
			.footer-get
				.footer-get__el.modal-get(data-modal="order") Оставить заявку

	//.footer-map
		h1 Карта


	//section-contact
	#contact.section.section-contact
		.main-cont
			.section-title Наши контакты
			.contact
				.contact-form.contact-form--footer
					.main-form
						.form-title Оставьте вашу заявку
						.form-title-sub Мы свяжемся с вам в кратчайшее время
						form.validate-form.form--footer( action="javascript:void(null);")
							.input-row
								input(type="text" name="name" placeholder="Ваше имя").input
							.input-row
								input(type="text" name="phone" placeholder="Ваш телефон").input
							.input-row
								textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
							.agree-row
								.check-el
									label.style-label.style-label--checkbox
										input(type="checkbox" name="agree").sytle-input
										.sytle-input-element
											+icon("checked","icon-check")
										.sytle-input-text=text
								.agree-row__text Согласен с
									a(href="#") условиями обработки персональных данных
							input(type="submit" value="Отправить заявку").form-footer-send
					.contact-info
						.map
							script("text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A104108c83896b1a6c1b544e50f3d690ee4df2f43b13730f0b9a6f0d5ead96cae&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=false")

						.contact-row-wrap
							.contact-row
								.contact-icon
									+icon("placeholder","icon")
								.contact-text Москва, 1-ый Варшавский проезд, д.1А, строен.9, офис 2.6
							.contact-row
								.contact-icon
									+icon("phone-call","icon")
								.contact-text +7 (495) 514-84-13
							.contact-row
								.contact-icon
									+icon("mail","icon")
								.contact-text info@cgiku.ru
							.contact-row
								.contact-icon
									+icon("metro","icon")
								a(href="#").contact-text Как к нам проехать подробнее
	//section-contact-end

	.footer
		.footer-menu
			.main-cont
				.menu
					.menu-el
						a(href="#")
							span Главная
					.menu-el.menu-el-service
						a(href="#")
							span Услуги
					.menu-el
						a(href="#")
							span О компании
					.menu-el
						a(href="#")
							span Прайс-лист
					.menu-el
						a(href="#")
							span Наши лицензии
					.menu-el
						a(href="#")
							span Контакты
					.menu-el.menu-el--mark
						a(href="#")
							span Акции
		.footer-info
			.main-cont
				.footer-info-wrap
					a(href="/").footer-info__logo
						img(src="img/logo-dark.png", alt="").logo--full
					.footer-info__phone
							a(href="tel:+7 (495) 514-84-13").footer-info__phone +7 (495) 514-84-13
							a(href="tel:+7 (495) 514-84-13").footer-info__phone +7 (495) 283-96-83

	.scroll-up
		+icon("arrow-up","icon")

	.modal-layer
		.modal-cont
			.modal-filter
			.modal-wrap
				.modal(data-modal="order")
					.modal-content.modal-content--fogot
						.modal-close
							+icon("close","icon")
						.modal-title Бесплатная консультация
						.modal-text Обращаетесь к нам впервые? <br> Оформите обращение с помощью этой формы, мы перезвоним Вам и проконсультируем по любому Вашему вопросу совершенно бесплатно!
						form.validate-form( action="javascript:void(null);")
							.input-row
								input(type="text" name="name" placeholder="Ваше имя").input
							.input-row
								input(type="text" name="phone" placeholder="Ваш телефон").input
							.input-row
								textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
							.agree-row
								.check-el
									label.style-label.style-label--checkbox
										input(type="checkbox" name="agree").sytle-input
										.sytle-input-element
											+icon("checked","icon-check")
										.sytle-input-text=text
								.agree-row__text Согласен с
									a(href="#") условиями обработки персональных данных
							input(type="submit" value="Отправить заявку").modal-send

				.modal(data-modal="true")
					.modal-content.modal-content--true
						+icon("interface","icon")
						.modal-text-true Ваша заявка принята

				.modal(data-modal="next")
					.modal-content.modal-content--truesend
						+icon("interface","icon")
						.modal-text-truesend Ваша заявка принята!

	//block footer end