mixin footer()
	//block footer
	.section.section--footer
		.main-cont
			.section-title Оформите заказ
			.section-title-sub Прием в офисе с понедельника по пятницу с 9:00 до 20:00, суббота: по предварительной записи, выходной: воскресенье.
			.footer__wrap
				.footer__el
					.footer__icon
						+icon("map","icon")
					.footer__title В офисе
					.footer__text г. Москва, 1-ый Варшавский проезд, д.1А, строен.9, офис 2.6
				.footer__el
					.footer__icon
						+icon("phone-call","icon")
					.footer__title По телефону
					a(href="tel:+7 (495) 514-84-13").footer__text.footer__text--red +7 (495) 514-84-13
					a(href="tel:+7 (495) 283-96-83").footer__text.footer__text--red +7 (495) 283-96-83
				.footer__el
					.footer__icon
						+icon("mail","icon")
					.footer__title По email
					a(href="mailto:info@cgiku.ru").footer__text.footer__text--red info@cgiku.ru
			.footer-get
				.footer-get__el.modal-get(data-modal="order") Оставить заявку

	.footer-map
		h1 Карта
	.scroll-up
		+icon("arrow-up","icon")

.modal-layer
	.modal-cont
		.modal-filter
		.modal-wrap
			.modal(data-modal="order")
				.modal-content.modal-content--fogot
					.modal-close
						+icon("close","icon")
					.modal-title Бесплатная консультация
					.modal-text Обращаетесь к нам впервые? <br> Оформите обращение с помощью этой формы, мы перезвоним Вам и проконсультируем по любому Вашему вопросу совершенно бесплатно!
					form.validate-form( action="javascript:void(null);")
						.input-row
							input(type="text" name="name" placeholder="Ваше имя").input
						.input-row
							input(type="text" name="phone" placeholder="Ваш телефон").input
						.input-row
							textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
						.agree-row
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox" name="agree").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text=text
							.agree-row__text Согласен с
								a(href="#") условиями обработки персональных данных
						input(type="submit" value="Отправить заявку").modal-send

			.modal(data-modal="true")
				.modal-content.modal-content--true
					+icon("interface","icon")
					.modal-text-true Ваша заявка принята

			.modal(data-modal="next")
				.modal-content.modal-content--truesend
					+icon("interface","icon")
					.modal-text-truesend Ваша заявка принята!

	//block footer end