-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Подробная',
			'href':'single'
		},
		{
			'name':'Технический план дома',
			'href':'plan'
		}
	]


-
	meg_plan = [
		{
		'name':"Уточнение границ участка (межевание) "
		},
		{
		'name':"Исправление реестровой ошибки (бывш. кадастровая ошибка)"
		},
		{
		'name':'Раздел земельного участка '
		},
		{
		'name':"Объединение земельных участков"
		},
		{
		'name':"Перераспределение земельных участков "
		},
		{
		'name':"Образование земельного участка из земель муниципальной собственности"
		},
		{
		'name':"Образование земельного участка под многоквартирным домом "
		},
		{
		'name':"Межевание земель общего пользования СНТ"
		},
		{
		'name':"Образование частного сервитута (часть земельного участка)"
		},
	]
