.head-container
	position fixed
	width 100%
	top 0
	left 0
	z-index 200
	background: white

.header
	+below(768px)
		//display none
	padding 10px 0
	//background #267da0

.top-line
	color black

//.main-cont
.top-line-wrap
	+below(1200px)
		flex(mid)
	flex(between)
.mobile-logo
	+above(1200px)
		display none
	+below(1200px)
		flex(mid)
	img
		width 50%
		max-width 300px
.top-line-info
	+below(1200px)
		display none
	width 70%
	flex(between)
.top-line-el
	f()
	align-items center
.top-line-el-title
	+below(1440px)
		font-size 12px
	font-weight bold
	margin-right 10px
	font-size 14px
	up()
.top-line-el-info
	font-size 14px
	padding 5px 20px
	background $red
	br(20px)
	color white
.top-line-loc
	+below(1200px)
		display none
	f()
.top-line-loc-el
	flex(mid)
	margin-left 20px
.top-line-loc-icon
	.icon
		size 25px
		fill black
		margin-right 10px
.nav
	border-top 1px solid #ececec
	border-bottom 1px solid #ececec
	//background #267DA0
	//box-shadow 0px 5px 5px rgba(44, 44, 44, 0.63)
.nav-wrap
	+below(1200px)
		padding 10px
	flex(between)
	//padding 10px 0
	position relative
.menu-wrap
	+above(1200px)
		display block!important
	+below(1200px)
		display none
		position absolute
		top 100%
		left -10px
		z-index 300
		width calc(100% + 20px)
		background #1c576e
	width 80%
.menu
	+below(1200px)
		fw()
	flex(between)
.menu-el
	+below(1200px)
		width 100%
		text-align center
		border-bottom 1px solid #24657e
	&:first-child
		padding-left: 0
	up()
	padding 20px 10px
	font-size 14px
	//color white

.menu-el--active
	background #236884
.nav-phone-el
	+above(1200px)
		.icon
			display none
	+below(1200px)
		flex(mid)
	.icon
		size 20px
		fill white
		margin-right 20px
	font-weight bold
	font-size 20px
	display block
	color black

.nav-toggle
	flex(mid)
	+above(1200px)
		display none
	.icon
		fill white
		size 20px

.header-baner
	img
		margin: 0 auto
		//width: 100%

.main-logo
	img
		width: 170px

.header-baner
	img
		width: 60%

.header-baner
	f()
	justify-content: space-between
	padding: 40px 0

.header-baner__slogan
	width: 50%
	flex(mid)
	fl()

.header-baner__img
	width: 50%
	img
		width: 100%

.header-baner__text
	font-size: 40px
	margin-bottom: 20px
	color black
	up()

.header-baner__text--sub
	width: 100%
	margin-bottom: 30px