.head-container
	width 100%
	background: white

.header
	+below(768px)
		padding: 0
	padding 10px 0
	//background #267da0

.top-line
	color black

//.main-cont
.top-line-wrap
	flex(between)
.mobile-logo
	+above(1200px)
		display none
	+below(1200px)
		flex(mid)
	img
		width 50%
		max-width 300px
.top-line-info
	+below(968px)
		width: auto
	width 70%
.top-line-el__wrap
	+below(1024px)
		display: none
	flex(between)
.top-line-el
	f()
	align-items center
.top-line-el-title
	+below(1440px)
		font-size 10px
	font-weight bold
	margin-right 10px
	font-size 14px
	up()
.top-line-el-info
	font-size 12px
	background $red
	br(20px)
	color white
.top-line-loc
	+below(960px)
		display none
	f()
.top-line-loc-el
	flex(mid)
	&:nth-child(1)
		margin-right 20px
.top-line-loc-icon
	.icon
		size 25px
		fill black
		margin-right 10px
.nav
	.main-cont
		padding: 0px
	border-top 1px solid #ececec
	border-bottom 1px solid #ececec
	//background #267DA0
	//box-shadow 0px 5px 5px rgba(44, 44, 44, 0.63)
.nav-wrap
	+below(768px)
		flex(mid)
		padding 10px

	flex(between)
	//padding 10px 0
	position relative
.menu-wrap
	+above(1200px)
		display block!important
	+below(768px)
		display none
		position absolute
		top 100%
		left -10px
		z-index 300
		width calc(100% + 20px)
		border-bottom:1px solid #f4f4f5
		background white
	width 100%
.menu
	+below(768px)
		fw()
	flex(between)
	list-style: none
	padding: 0
	margin: 0
.menu-el
	+below(768px)
		width 100%
		text-align center
		border-top 1px solid #f4f4f5
	&:first-child
		padding-left: 0
	up()
	font-size 14px
	width: 100%
	text-align: center
	//color white
	position: relative
	a
		+below(1024px)
			padding: 20px 0
			font-size: 12px
		+below(768px)
			padding: 15px 0
		padding 20px 10px
		display: block
		tr(all)
		&:hover
			background: #f7f7f7

.menu-el__sub
	+below(768px)
		display: block
		width: 100%
		position: static
		a
			display: block
			width: 100%
	position: absolute
	top 100%
	z-index 10
	left: 0px
	display: none

.menu-el__sub-el
	+below(768px)
		background: whitesmoke
	background: white
	display: inline-block
	width: 200px
	border-top 1px solid $gray
.menu-el-service
	&:hover
		.sub-menu
			display: block!important
	a
		f()
		justify-content center
	.icon
		size 10px
		margin-left: 10px

.menu-el--active
	background #236884

.nav-phone-el
	+above(1200px)
		.icon
			display none
	+below(1200px)
		flex(mid)
	+below(1024px)
		font-size: 16px
		margin-left: 20px
	+below(768px)
		font-size: 14px
	.icon
		size 20px
		fill white
		margin-right 20px
	font-weight bold
	font-size 20px
	display block
	color black

.nav-toggle
	flex(mid)
	cp()
	+above(769px)
		display none
	.icon
		fill black
		size 20px

.main-logo
	img
		+below(768px)
			width: 45%
		width: 230px


.header-baner
	+below(768px)
		padding: 20px 0
	f()
	justify-content: space-between
	padding: 40px 0
	img
		margin: 0 auto
		width: 60%

.header-baner__slogan
	+below(768px)
		width: 100%
		text-align: center
	width: 50%
	flex(mid)
	fl()

.header-baner__img
	+below(768px)
		display: none
	width: 45%
	img
		width: 100%

.header-baner__text
	+below(768px)
		font-size: 20px
	width: 100%
	font-size: 40px
	margin-bottom: 40px
	color black
	up()

.header-baner__text--sub
	width: 100%
	margin-bottom: 30px

.top-line__contact
	+below(1024px)
		padding: 10px 0
		margin-left: auto
	flex(between)
	padding: 20px 0 10px 0

.nav-phone
	+below(960px)
		width: 100%
	+below(768px)
		fl()
	flex(between)
	width: 50%

.header-baner__price
	+below(1024px)
		width: 400px
		justify-content: center
		margin: 0 auto
	+below(640px)
		width: 100%
	flex(between)
	width: 85%
	align-self: flex-start

.header-baner__price-el
	+below(1024px)
		font-size: 38px
	+below(768px)
		font-size: 28px
	width: 100%
	font-size: 48px
	color black
	font-weight: bold
	margin-bottom: 20px
	
.logo--short
	+above(769px)
		display: none

.logo--full
	+below(768px)
		display: none

.header-baner__price--false
	text-decoration: line-through
	color #cac5c5

.sub-menu
	+below(768px)
		display: block
		position: static
		width: 100%
	list-style: none
	position: absolute
	padding: 0
	width: 200px
	.menu-item
		@extend .menu-el__sub-el
		display: block
		width: 100%
		a
			display: block
			width: 100%

.menu-wrap
	.menu-item
		@extend .menu-el
		display: block

.sub-menu
	@extend .menu-el__sub


.header-baner__price-info
	width: 100%
	margin-bottom: 20px
	span
		display: inline-block
		//padding: 5px 20px
		br(10px)
		//background: white

.h100
	height: 100%