mixin header()
	//block header
	.head-container
		//header
		.header
			.main-cont
				.header-wrap
					a(href="#").logo
						img(src="img/logo-dark.png", alt="").logo--full
					.header-nav
						a(href="#").header-nav__el.type--title.type--w500 Услуги
						a(href="#").header-nav__el.type--title.type--w500 Цены
						a(href="#").header-nav__el.type--title.type--w500 О нас
						a(href="#").header-nav__el.type--title.type--w500 Акции
						a(href="#").header-nav__el.type--title.type--w500 Контакты
					.header-phone
						a(href="tel:+7 (495) 514-84-13").nav-phone-el +7 (495) 514-84-13
						//a(href="tel:+7 (495) 514-84-13").nav-phone-el +7 (495) 283-96-83
			//.top-line
				.main-cont
					.top-line-wrap
						a(href="/").main-logo
							img(src="img/logo-dark.png", alt="").logo--full
							img(src="img/logo-short.png", alt="").logo--short
						.top-line-info
								.top-line-el__wrap
									.top-line-el
										.top-line-el-title Работа горячей линии:
										.top-line-el-info.top-line-el-info--light Ежедневно c 9-00 ч. до 20-00 ч.
									.top-line-el
										.top-line-el-title Прием онлайн-заявок:
										.top-line-el-info.top-line-el-info--call.modal-get(data-modal="order")
											+icon("phone","icon")
											span Круглосуточно
								.top-line__contact
									.nav-phone
										a(href="tel:+7 (495) 514-84-13").nav-phone-el +7 (495) 514-84-13
										a(href="tel:+7 (495) 514-84-13").nav-phone-el +7 (495) 283-96-83
									.top-line-loc
										a(href="#").top-calc
											.top-calc__icon
												+icon("calculator-fat","icon")
											.top-calc__text Калькулятор услуг
		//header-end

		//nav
		//.nav
			.main-cont
				.nav-wrap
					.nav-toggle
						+icon("menu","icon")
					.menu-wrap
						.menu
							.menu-el
								a(href="#")
									span Главная
							.menu-el.menu-el-service
								a(href="#")
									span Услуги
										+icon("arrow-down","icon")
								.menu-el__sub
									a(href="#").menu-el__sub-el Кадастровые работы
									a(href="#").menu-el__sub-el Геодезические работы
							.menu-el
								a(href="#")
									span О компании
							.menu-el
								a(href="#")
									span Прайс-лист
							.menu-el
								a(href="#")
									span Наши лицензии
							.menu-el
								a(href="#")
									span Контакты
							.menu-el.menu-el--mark
								a(href="#")
									span Акции
					//.nav-phone
						a(href="tel:+7 (495) 514-84-13").nav-phone-el
							+icon("phone-call","icon")
							| +7 (495) 514-84-13
		//nav-end
	//block header end
