mixin header()
	//block header
	.head-container
		//header
		.header
			.top-line
				.main-cont
					.top-line-wrap
						.main-logo
							img(src="img/logo-dark.png", alt="")
						.top-line-info
								.top-line-el__wrap
									.top-line-el
										.top-line-el-title Работа горячей линии:
										.top-line-el-info Ежедневно c 9-00 ч. до 20-00 ч.
									.top-line-el
										.top-line-el-title Прием онлайн-заявок:
										.top-line-el-info Круглосуточно
								.top-line__contact
									.top-line-loc
										.top-line-loc-el
											.top-line-loc-icon
												+icon("metro","icon")
											.top-line-loc-text Варшавская
										.top-line-loc-el
											.top-line-loc-icon
												+icon("metro","icon")
											.top-line-loc-text Каширская
									.nav-phone
										a(href="tel:+7 (495) 514-84-13").nav-phone-el
											+icon("phone-call","icon")
											| +7 (495) 514-84-13
										a(href="tel:+7 (495) 514-84-13").nav-phone-el
											+icon("phone-call","icon")
											| +7 (495) 283-96-83

		//header-end

		//nav
		.nav
			.main-cont
				.nav-wrap
					.nav-toggle
						+icon("menu","icon")
					.menu-wrap
						.menu
							-
								var items = [
									'Главная',
									'Услуги',
									'О компании',
									'Прайс-лист',
									'Наши лицензии',
									'Контакты',
									];
							each item in items
								a(href="#").menu-el #{item}
							a(href="#").menu-el.menu-el--mark Акции
					//.nav-phone
						a(href="tel:+7 (495) 514-84-13").nav-phone-el
							+icon("phone-call","icon")
							| +7 (495) 514-84-13
		//nav-end
	//block header end
